{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Game Rules" %}{% endblock %}
{% block content %}
{% include "../sidebar.html" %}
{% if profile %}
    {% include "notifs/notifications.html" %}
{% endif %}
<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col">
            <div class="d-flex flex-column justify-content-center align-items-center" style="padding-top: 1em;margin-top: 3em;padding-bottom: 30px;">
                <h1 class="d-flex justify-content-center align-items-center justify-content-xxl-center" style="color: var(--bs-body-bg);margin-left: 0px;margin-right: 0px;width: 100%;margin-bottom: 25px;">
                    <svg class="icon icon-tabler icon-tabler-device-gamepad-3" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: var(--bs-primary-border-subtle);font-size: 49px;margin-right: 5px;margin-left: 0px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 12l-3 -3h-2a1 1 0 0 0 -1 1v4a1 1 0 0 0 1 1h2l3 -3z"></path>
                        <path d="M14 12l3 -3h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2l-3 -3z"></path>
                        <path d="M12 14l-3 3v2a1 1 0 0 0 1 1h4a1 1 0 0 0 1 -1v-2l-3 -3z"></path>
                        <path d="M12 10l-3 -3v-2a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v2l-3 3z"></path>
                    </svg>
                    {% translate 'Game Rules' %}
                </h1>
                <div class="d-flex justify-content-center align-items-center" style="height: 55px;">
                    <a id="navAboutGameRules" href="/about/" class="d-flex justify-content-center align-items-center aboutBtn" style="padding-left: 15px;padding-right: 15px;border-radius: 19px;box-shadow: 0px 0px 6px 1px var(--bs-body-bg);padding-top: 10px;padding-bottom: 10px;margin-top: 5px;margin-bottom: 5px;">
                        <svg class="icon icon-tabler icon-tabler-arrow-left" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 35px;color: var(--bs-body-bg);margin-right: 5px;">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M5 12l14 0"></path>
                            <path d="M5 12l6 6"></path>
                            <path d="M5 12l6 -6"></path>
                        </svg>
                        <div class="d-flex justify-content-center align-items-center">
                            <p style="color: var(--bs-body-bg);margin-bottom: 0px;">
                                {% translate 'About' %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px;">
    <div class="col text-center d-flex justify-content-center align-items-center" style="padding: 20px 12px;padding-bottom: 0px;padding-top: 0px;">
        <h6 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);margin-bottom: 0px;">
            {% translate 'The rules are simple:' %}
            <br />
            {% translate 'There are two paddles on each side of the field , you (and your opponent) have to move your paddles and hit the ball in order to score a point.' %}
            <br />
            {% translate 'The ball is getting faster from each hit.' %}
            <br />
            {% translate 'You have to score as much points as the creator of the game room has defined to win a game.' %}
            <br />
            {% translate 'Your side is represented by your name and your avatar above the game , it also displays the current score of the game.' %}
        </h6>
    </div>
</div>
<div class="row" style="width: 100%;margin-left: 0px;margin-right: 0px;">
    <div class="col-sm-12 text-center d-flex flex-shrink-1 justify-content-center align-items-center" style="padding: 20px 12px;padding-bottom: 0px;padding-top: 0px;">
        <div class="d-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center flex-wrap justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-bottom: 0px;margin-top: 0px;">
            <div class="d-flex flex-shrink-1 justify-content-center align-items-center align-content-around flex-nowrap justify-content-sm-center align-items-sm-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-top: 0px;margin-bottom: 0px;">
                <div class="d-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center align-items-xxl-center" style="backdrop-filter: opacity(1);opacity: 1;height: 100%;width: 35%;margin-left: 0px;margin-right: 0px;padding-top: 0px;padding-bottom: 0px;">
                    <div class="text-truncate d-flex d-lg-flex d-xxl-flex flex-column justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 80%;height: 100%;padding-top: 10px;padding-bottom: 10px;"><img style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid varvar(--bs-gray-700);" src="{% static '/img/avatar1.webp' %}" width="65" height="65" />
                        <h1 class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">
                            Player_1
                        </h1>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 20%;height: 100%;">
                        <h1 class="text-end" style="color: var(--bs-body-bg);font-weight: bold;">
                            0
                        </h1>
                    </div>
                </div>
                <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 20%;height: 100%;"><svg class="icon icon-tabler icon-tabler-swords text-danger" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M21 3v5l-11 9l-4 4l-3 -3l4 -4l9 -11z"></path>
                        <path d="M5 13l6 6"></path>
                        <path d="M14.32 17.32l3.68 3.68l3 -3l-3.365 -3.365"></path>
                        <path d="M10 5.5l-2 -2.5h-5v5l3 2.5"></path>
                    </svg></div>
                <div class="d-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center align-items-xxl-center" style="backdrop-filter: opacity(1);opacity: 1;height: 100%;width: 35%;margin-left: 0px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;">
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 20%;height: 100%;">
                        <h1 class="text-end" style="color: var(--bs-body-bg);font-weight: bold;">0</h1>
                    </div>
                    <div class="text-truncate d-flex d-lg-flex d-xxl-flex flex-column justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 80%;height: 100%;padding-top: 10px;padding-bottom: 10px;"><img style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid vavar(--bs-gray-700);" src="{% static '/img/avatar1.webp' %}" width="65" height="65" />
                        <h1 class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">Player_2</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;">
    <div class="col-xl-12 col-xxl-12 text-center d-flex flex-column justify-content-center align-items-center" style="padding: 20px 12px;padding-right: 0px;padding-top: 0px;padding-bottom: 10px;">
        <h3 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;">
            <svg class="icon icon-tabler icon-tabler-arrows-vertical" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-body-bg);margin-right: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 7l4 -4l4 4"></path>
                <path d="M8 17l4 4l4 -4"></path>
                <path d="M12 3l0 18"></path>
            </svg>
            {% translate 'Movement' %} 
        </h3>
        <h6 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);padding-top: 8px;padding-bottom: 8px;margin-bottom: 0px;">
            {% translate 'There are 3 ways to move your paddle' %}
        </h6>
        <h6 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);margin-bottom: 0px;">
            <svg class="icon icon-tabler icon-tabler-mouse" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-success-bg-subtle);margin-right: 0px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M6 3m0 4a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-4a4 4 0 0 1 -4 -4z"></path>
                <path d="M12 7l0 4"></path>
            </svg>
            {% translate 'You can click and hold to a direction make the paddle going up and down' %}
        </h6>
        <h6 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);margin-bottom: 0px;">
            {% translate 'Pressing' %}
            <svg class="icon icon-tabler icon-tabler-square-arrow-up" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-success-bg-subtle);margin-right: 5px;margin-left: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M16 12l-4 -4l-4 4"></path>
                <path d="M12 16v-8"></path>
                <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            </svg>
            {% translate 'or' %}
            <svg class="icon icon-tabler icon-tabler-square-letter-w" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-success-bg-subtle);margin-left: 5px;margin-right: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                <path d="M9 8l1 8l2 -5l2 5l1 -8"></path>
            </svg>
            {% translate 'keys will make the paddle going up' %}
        </h6>
        <h6 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);margin-bottom: 0px;">
            {% translate 'Pressing' %}
            <svg class="icon icon-tabler icon-tabler-square-arrow-down" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-success-bg-subtle);margin-right: 5px;margin-left: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M8 12l4 4l4 -4"></path>
                <path d="M12 8v8"></path>
                <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
            </svg> 
            {% translate 'or' %}
            <svg class="icon icon-tabler icon-tabler-square-letter-s" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-success-bg-subtle);margin-left: 5px;margin-right: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                <path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-2a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1"></path>
            </svg>
            {% translate 'keys will make the paddle going down' %}
        </h6>
    </div>
</div>
<div class="row d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-left: 0px;margin-right: 0px;">
    <div class="col-sm-6 col-md-7 col-lg-7 col-xl-4 text-start d-flex flex-column justify-content-center align-items-center" style="padding: 20px 12px;padding-top: 20px;padding-bottom: 20px;">
        <p style="color: var(--bs-body-bg);">
            <svg class="icon icon-tabler icon-tabler-target-arrow" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-yellow);margin-right: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                <path d="M12 7a5 5 0 1 0 5 5"></path>
                <path d="M13 3.055a9 9 0 1 0 7.941 7.945"></path>
                <path d="M15 6v3h3l3 -3h-3v-3z"></path>
                <path d="M15 9l-3 3"></path>
            </svg>
            {% translate 'Points to win a game,' %} 
            <svg class="icon icon-tabler icon-tabler-users-group" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-info);margin-right: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1"></path>
                <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M17 10h2a2 2 0 0 1 2 2v1"></path>
                <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                <path d="M3 13v-1a2 2 0 0 1 2 -2h2"></path>
            </svg>
            {% translate 'Players in the room/Players needed and the' %}
            <svg class="icon icon-tabler icon-tabler-soccer-field" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 30px;color: var(--bs-body-bg);margin-right: 5px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                <path d="M3 9h3v6h-3z"></path>
                <path d="M18 9h3v6h-3z"></path>
                <path d="M3 5m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                <path d="M12 5l0 14"></path>
            </svg>
            {% translate 'map are defined by the game creator and can be seen in the game rooms section from the home menu.' %}
            <br />
            {% translate 'There are some other settings that the room owner can define , such as the initial ball speed , or the paddle/ball size.' %}
            <br />
            {% translate 'These settings cannot be changed once the room is created.' %}
        </p>
    </div>
</div>
<div class="row d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;">
    <div class="col-xl-12 col-xxl-12 text-center d-flex flex-column justify-content-center align-items-center" style="padding: 20px 12px;padding-top: 0px;padding-bottom: 0px;padding-right: 0px;">
        <h3 class="d-flex justify-content-center align-items-center bounce animated infinite" style="color: var(--bs-body-bg);margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;">
            {% translate 'Enjoy your games !' %} 
        </h3>
    </div>
</div>
{% endblock %}