{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Privacy Policy" %}{% endblock %}
{% block content %}
{% include "../sidebar.html" %}
{% if profile %}
    {% include "notifs/notifications.html" %}
{% endif %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: 1em;margin-bottom: 3em;">
                <div class="d-flex flex-column justify-content-center align-items-center" style="padding-top: 1em;margin-top: 3em;padding-bottom: 30px;">
                    <h1 class="d-flex justify-content-center align-items-center justify-content-xxl-center" style="color: var(--bs-body-bg);margin-left: 0px;margin-right: 0px;width: 100%;margin-bottom: 25px;">
                        {% translate "Privacy Policy" %}
                    </h1>
                    <div class="d-flex justify-content-center align-items-center" style="height: 55px;">
                        {% if profile %}
                        <a id="navAboutPp" href="/about_priv/" class="d-flex justify-content-center align-items-center aboutBtn" style="padding-left: 15px;padding-right: 15px;border-radius: 19px;box-shadow: 0px 0px 6px 1px var(--bs-body-bg);padding-top: 10px;padding-bottom: 10px;margin-top: 5px;margin-bottom: 5px;">
                        {% else %}
                        <a id="navAboutPp" href="/about/" class="d-flex justify-content-center align-items-center aboutBtn" style="padding-left: 15px;padding-right: 15px;border-radius: 19px;box-shadow: 0px 0px 6px 1px var(--bs-body-bg);padding-top: 10px;padding-bottom: 10px;margin-top: 5px;margin-bottom: 5px;">
                        {% endif %}    
                            <svg class="icon icon-tabler icon-tabler-arrow-left" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 35px;color: var(--bs-body-bg);margin-right: 5px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 12l14 0"></path>
                                <path d="M5 12l6 6"></path>
                                <path d="M5 12l6 -6"></path>
                            </svg>
                            <div class="d-flex justify-content-center align-items-center">
                                <p style="color: var(--bs-body-bg);margin-bottom: 0px;">
                                    {% translate 'About' %}
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5 class="text-start" style="color: var(--bs-body-bg);">
                {% translate "Last updated: " %}{% translate "September 2024" %}
            </h5>
        </div>
    </div>
</div>
<div class="container">
    {% blocktrans %}
    <div class="row">
        <div class="col-md-12">
            <h5 style="color: var(--bs-body-bg);">
                This privacy policy will explain how our organization “Transcendence42” uses the personal data we collect from you when you use our website.
                <br>First, we would like to assure you that at&nbsp;Transcendence42 we take privacy seriously. We will never contact you for marketing purposes. Your email will solely be used for privacy or security concerns.
                <br>
                <br>Topics:
            </h5>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li>
                    <a href="#wDataCollect">What data do we collect?</a>
                </li>
                <li>
                    <a href="#hDataCollect">How do we collect your data?</a>
                </li>
                <li>
                    <a href="#hDataUse">How will we use your data?</a>
                </li>
                <li>
                    <a href="#hDataStore">How do we store your data?</a>
                </li>
                <li>
                    <a href="#wDataProtection">What are your data protection rights?</a>
                </li>
                <li>
                    <a href="#wCookies">What are cookies?</a>
                </li>
                <li>
                    <a href="#hCookiesUse">How do we use cookies?</a>
                </li>
                <li>
                    <a href="#wCookiesType">What types of cookies do we use?</a>
                </li>
                <li>
                    <a href="#hCookiesManage">How to manage your cookies</a>
                </li>
                <li>
                    <a href="#privacyOther">Privacy policies of other websites</a>
                </li>
                <li>
                    <a href="#privacyChanges">Changes to our privacy policy</a>
                </li>
                <li>
                    <a href="#hContactUs">How to contact us</a>
                </li>
                <li>
                    <a href="#hContactAuthority">How to contact the appropriate authority</a>
                </li>
            </ul>
        </div>
    </div>
    {% endblocktrans %}
</div>
<div class="container">
    {% blocktrans %}
    <div class="row">
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="wDataCollect">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                What data do we collect ?
            </h4>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 collects the following data from all users:
            </p>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li style="color: var(--bs-body-bg);">
                    Personal identification information (email address)
                </li>
                <li>
                    Messages
                </li>
                <li>
                    Account preferences, including lists of "friends" (other users with whom you can exchange private messages) and "blocked users" (users from whom you do not want to receive any interaction)
                </li>
            </ul>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 collects the following data for users who opt in to OAuth services (42Auth):
            </p>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li style="color: var(--bs-body-bg);">
                    Personal identification information (profile picture, 42 UID)
                </li>
                <li>
                    Indirectly identifying information (coalition banner and color scheme)
                </li>
            </ul>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hDataCollect">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How do we collect your data?
            </h4>
            <p style="color: var(--bs-body-bg);">
                You directly provide Transcendence42 with most of the data we collect. We collect data and process data when you:
            </p>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li style="color: var(--bs-body-bg);">
                    Register online.
                </li>
                <li>
                    Send messages to friends or on tournament live chat boards.
                </li>
                <li>
                    Voluntarily use the 42Auth service.
                </li>
                <li>
                    Use or view our website via your browser’s cookies.
                </li>
            </ul>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hDataUse">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How will we use your data?
            </h4>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 collects your data so that we can:
            </p>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li style="color: var(--bs-body-bg);">
                    Manage your account (including the list of "friends" and "blocked users").
                </li>
                <li>
                    Email you with any safety/security concern (e.g: when you update your password).
                </li>
                <li>
                    Provide you with a history of exchanged messages.
                </li>
            </ul>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hDataStore">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How do we store your data?
            </h4>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 is executed locally on your computer. This mean that all data shared with Transcendence42 is handled on your own computer or server. YOU ARE SOLELY RESPONSIBLE FOR SECURING YOUR OWN NETWORK TO AVOID YOUR DATA BEING EXPOSED ON EXTERNAL NETWORKS.
                <br>Transcendence42 will keep your email for the whole life of your account. We will delete your data automatically upon deletion of the account.
                <br>If applicable, Transcendence42 will keep your 42 UID only to complete the 42Auth authentication process. Then we will delete your data automatically.
                <br>If applicable, Transcendence42 will keep your 42 profile picture, coalition banner and coalition color scheme until you personally and explicitly revoke the 42Auth access. If you decide to revoke the access, we will automatically delete all data retrieved through 42Auth. Deletion of your account automatically revokes the 42Auth access.
                <br>Your account preferences are stored locally on your computer through the use of cookies, and&nbsp;Transcendence42 has no access to these cookies. You can decide to erase these at any time from your web browser settings.
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="wDataProtection">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                What are your data protection rights?
            </h4>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
            </p>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li style="color: var(--bs-body-bg);">
                    The right to access – You have the right to request Transcendence42 for copies of your personal data. We may charge you a small fee for this service.
                </li>
                <li>
                    The right to rectification – From your account, you can modify your email address yourself. However, you also have the right to request directly that Transcendence42 correct any information you believe is inaccurate. You also have the right to request Transcendence42 to complete the information you believe is incomplete.
                </li>
                <li>
                    The right to erasure – You have the right to request that Transcendence42 erase your personal data, under certain conditions.
                </li>
                <li>
                    The right to restrict processing – You have the right to request that Transcendence42 restrict the processing of your personal data, under certain conditions.
                </li>
                <li>
                    The right to object to processing – You have the right to object to Transcendence42’s processing of your personal data, under certain conditions.
                </li>
                <li>
                    The right to data portability – You have the right to request that Transcendence42 transfer the data that we have collected to another organization, or directly to you, under certain conditions.
                </li>
            </ul>
            <p style="color: var(--bs-body-bg);">
                If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please <a href="mailto:{{django_mail_contact}}">contact us </a>
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="wCookies">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                What are cookies
            </h4>
            <p style="color: var(--bs-body-bg);">
                Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our website, we may collect information from you automatically through cookies or similar technology
                <br>For further information, visit
                <br>
                <a target="_blank" href="https://allaboutcookies.org">allaboutcookies.org</a>
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hCookiesUse">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How do we use cookies?
            </h4>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 uses cookies in a range of ways to improve your experience on our website, including:
            </p>
            <ul style="color: var(--bs-body-bg);padding-left: 60px;">
                <li style="color: var(--bs-body-bg);">
                    Keeping you signed in
                </li>
                <li>
                    Managing your account preferences
                </li>
            </ul>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="wCookiesType">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                What types of cookies do we use?
            </h4>
            <p style="color: var(--bs-body-bg);">
                There are a number of different types of cookies, however, our website uses only "functionality" cookies. Transcendence42 uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer.
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hCookiesManage">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How to manage cookies
            </h4>
            <p style="color: var(--bs-body-bg);">
                You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="privacyOther">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                Privacy policies of other websites
            </h4>
            <p style="color: var(--bs-body-bg);">
                The Transcendence42 website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="privacyChanges">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                Changes to our privacy policy
            </h4>
            <p style="color: var(--bs-body-bg);">
                Transcendence42 keeps its privacy policy under regular review and places any updates on this web page. You will also be notified by email that an update has occurred.
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hContactUs">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How to contact us
            </h4>
            <p style="color: var(--bs-body-bg);">
                If you have any questions about Transcendence42’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to <a href="mailto:{{django_mail_contact}}">email us </a> or reach out on <a href="{{discord_invite}}">Discord</a>.
            </p>
        </div>
        <div class="col">
            <hr>
        </div>
        <div class="col-md-12" id="hContactAuthority" style="margin-bottom: 5rem;">
            <h4 style="color: var(--bs-primary-border-subtle);text-decoration: underline;">
                How to contact the appropriate authority
            </h4>
            <p style="color: var(--bs-body-bg);">
                Should you wish to report a complaint or if you feel that Transcendence42 has not addressed your concern in a satisfactory manner, you may contact the French Information Commissioner’s Office:&nbsp;&nbsp;
                <a  target="_blank" href="https://www.cnil.fr/fr/cnil-direct/question/adresser-une-reclamation-plainte-la-cnil-quelles-conditions-et-comment">
                    https://www.cnil.fr/fr/cnil-direct/question/adresser-une-reclamation-plainte-la-cnil-quelles-conditions-et-comment
                </a>
            </p>
        </div>
    </div>
    {% endblocktrans %}
</div>
{% endblock %}