{% block content %}
<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-md-6 col-xl-4">
			<div class="card mb-5">
				<div class="card-body d-flex flex-column align-items-center">
					<form class="text-center" method="post" action="/api/accounts/login/">
						{% csrf_token %}
						<h2 class="text-primary" style="padding-bottom: 20px;">Log in</h2>
						<div class="mb-3 form-floating"><input class="form-control form-control form-control" type="text" id="floatingInput" name="username_or_email" placeholder=" " required=""><label class="form-label" for="floatingInput">Username / Email</label></div>
						<div class="mb-3 form-floating"><input class="form-control form-control form-control" type="password" id="floatingPassword-register-1" maxlength="254" minlength="6" name="password" pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*[A-Z])(?=.*[-\#\$\.\%\&amp;\*])(?=.*[a-zA-Z]).{6,254}$" placeholder=" " required=""><label class="form-label" for="floatingMail-register">Password</label>
							<div class="form-check" style="width: 110.078px;margin-left: 0px;margin-bottom: 0px;height: 29px;padding-top: 2px;"><input class="form-check-input" type="checkbox" id="formCheck-1" style="margin-left: -23px;width: 16px;margin-right: 0px;margin-top: 5px;"><label class="form-check-label" for="formCheck-1" style="margin-left: 0px;font-size: 12px;margin-top: 0px;margin-bottom: 5px;">Show password</label></div>
						</div><span class="input-group" style="height: 35px;width: 264.062px;padding-left: 0px;margin-left: 0px;padding-bottom: 40px;"><a class="d-xl-flex justify-content-xl-end" href="#" style="padding-bottom: 0px;padding-left: 0px;padding-top: 0px;width: 140.078px;font-size: 13px;height: 34px;margin-left: 60px;">Forgot your password ?</a></span>
						<div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Login</button></div>
						</form>
						<div>
							<a class="btn btn-primary d-block w-100 google_connect" href="#">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Connect with Google&nbsp; &nbsp; &nbsp; &nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewbox="0 0 16 16" class="bi bi-google" style="font-size:20px;"><path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path></svg></a>
							<a class="btn btn-primary d-block w-100 qd_connect" target="_blank" href="https://api.intra.42.fr/oauth/authorize">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Connect with 42 Auth&nbsp; &nbsp; &nbsp;<img src="static/img/42_Logo.svg.png" width="23" height="23"></a>
						</div>
						<p class="text-muted">Not Registered ?&nbsp;<a href="/register">Create an account</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}