{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% translate 'Change your Password' %}
        </title>
    </head>

    <body>
        <h1 class="d-flex justify-content-center align-items-center">
            {% translate 'Hi' %} {{ user.username }},
        </h1>
        <p class="d-flex justify-content-center align-items-center">
            {% translate 'Please use the code below to change your password:' %}
        </p>
        <h1 class="d-flex justify-content-center align-items-center" style="color: rgb(38,136,234);font-weight: bold;text-shadow: 1px 1px var(--bs-emphasis-color);">
            {{ user.code }}
        </h1>
        <p class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="margin-top: 16px;font-weight: bold;">
            {% translate 'This code will expire in 10 minutes.' %}
        </p>
        <p class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center">
            {% translate 'If you have not requested a password change, please ignore this email.' %}
        </p>
        <p class="text-center d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
            {% translate 'Thank you,' %}
            <br />
            {% translate 'The Transcendence42 Team' %}
        </p>
    </body>
</html>