<!DOCTYPE html>
<html>
<head>
    <title>Reset your Password</title>
</head>
<body>
    <p>Hi {{ user.username }},</p>
    <p>Please click the link below to modify your password:</p>
    <p><a href="http://{{ domain }}:8080{% url 'api:accounts:auth:password_reset' uidb64=uid token=token %}">Reset Password</a></p>
    <p>This link will expire in 10 minutes.</p>
    <p>If you have not requested a password reset, please ignore this email.</p>
    <p>Thanks,<br>The Transcendence Team</p>
</body>
</html>