{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Reset your Password
        </title>
    </head>
    <body>
        <p>
            Hi {{ user.username }},
        </p>
        <p>
            Please use the code below to reset your password:
        </p>
        <p>
            {{ user.code }}
        </p>
        <p>
            This code will expire in 10 minutes.
        </p>
        <p>
            If you have not requested a password reset, please ignore this email.
        </p>
        <p>
            Thanks,
            <br/>
            The Transcendence Team
        </p>
    </body>
</html>
