{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% translate 'Activate your account' %}
        </title>
    </head>

    <body>
        <h1 style="display: flex; justify-content: center; align-items: center;">
            {% translate 'Hi' %} {{ user.username }},
        </h1>
        <p style="display: flex; justify-content: center; align-items: center;">
            {% translate 'Thank you for registering at Transcendence42. Please use the code below to activate your account:' %}
        </p>
        <h1 style="display: flex; justify-content: center; align-items: center; color: rgb(38,136,234); font-weight: bold; text-shadow: 1px 1px var(--bs-emphasis-color);">
            {{ user.code }}
        </h1>
        <p style="text-align: center; display: flex; justify-content: center; align-items: center; margin-top: 16px; font-weight: bold;">
            {% translate 'This code will expire in 10 minutes.' %}
        </p>
        <hr>
        <p style="text-align: center; display: flex; justify-content: center; align-items: center;">
            {% translate 'If you did not create an account, please ignore this email.' %}
        </p>
        <p style="text-align: center; display: flex; justify-content: center; align-items: center;">
            {% translate 'Thank you,' %}
            <br />
            {% translate 'The Transcendence42 Team' %}
        </p>
    </body>
</html>