{% load static %}
{% load i18n %}
{% include "../sidebar.html" %}
{% block content %}
<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row d-flex justify-content-center" style="color: var(--bs-emphasis-color);">
            <div class="col-md-6 col-xl-4">
                <h2 class="fs-3 d-flex justify-content-center align-items-center" style="background: var(--bs-emphasis-color);color: var(--bs-body-bg);border-bottom-right-radius: 0px;border-top-right-radius: 19px;border-top-left-radius: 19px;margin-bottom: 0px;">
                    {% translate 'Forgot Password' %}
                    <svg class="icon icon-tabler icon-tabler-lock-question" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M15 21h-8a2 2 0 0 1 -2 -2v-6a2 2 0 0 1 2 -2h10c.265 0 .518 .052 .75 .145"></path>
                        <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"></path>
                        <path d="M8 11v-4a4 4 0 1 1 8 0v4"></path>
                        <path d="M19 22v.01"></path>
                        <path d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483"></path>
                    </svg>
                </h2>
                <div class="card mb-5" style="border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 19px;border-bottom-left-radius: 19px;">
                    <div class="card-body d-flex flex-column align-items-center">
                        <p class="text-center">
                            {% translate 'Please enter your account e-mail to get a password reset link' %}
                        </p>
                        <form action="/api/auth/reset-password/request/" class="text-center d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" method="post">
                            <div class="mb-3 form-floating">
                                <input class="form-control" id="floatingInput" name="email" placeholder=" " required="" type="text"/>
                                <label class="form-label" for="floatingInput">
                                    {% translate 'Email' %}
                                </label>
                            </div>
                            <div class="d-none d-xxl-none" id="wrongMailFormat">
                                <p style="color: #e23d28;">
                                    {% translate 'Wrong email format. Please try again' %}
                                </p>
                            </div>
                            <div class="mb-3" style="width: 70px;">
                                <button class="btn btn-primary d-block w-100" data-bs-target="#toast-resetpass" data-bs-toggle="toast" id="mailSend" style="background: var(--bs-emphasis-color);border-style: none;" type="submit">
                                    {% translate 'Send' %}
                                </button>
                            </div>
                        </form>
                        <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center d-none d-xxl-none" id="divtimerInfo">
                            <p id="timerinfo" style="color: #a7a29a;text-align: center;">
                                {% translate 'You will be able to send another reset link in' %}
                                <span id="seconds">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="col d-flex justify-content-center align-items-center" style="position: absolute;margin-top: -66px;">
        <div class="toast fade hide" data-bs-delay="15000" id="toast-resetpass" role="alert" style="border-top-left-radius: 10px;border-top-right-radius: 10px;">
            <div class="toast-header" style="background: rgba(61,169,43,0.85);border-top-left-radius: 10px;border-top-right-radius: 11px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;">
                <svg class="icon icon-tabler icon-tabler-mail-fast" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 30px;color: var(--bs-body-bg);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                    <path d="M3 7h3"></path>
                    <path d="M3 11h2"></path>
                    <path d="M9.02 8.801l-.6 6a2 2 0 0 0 1.99 2.199h7.98a2 2 0 0 0 1.99 -1.801l.6 -6a2 2 0 0 0 -1.99 -2.199h-7.98a2 2 0 0 0 -1.99 1.801z"></path>
                    <path d="M9.8 7.5l2.982 3.28a3 3 0 0 0 4.238 .202l3.28 -2.982"></path>
                </svg>
                <strong class="me-auto" style="margin-left: 8px;color: var(--bs-body-bg);">
                    {% translate 'Mail has been sent !' %}'
                </strong>
                <button aria-label="Close" class="btn-close ms-2 mb-1 close" data-bs-dismiss="toast" type="button">
                </button>
            </div>
            <div class="toast-body" role="alert" style="padding-top: 8px;padding-bottom: 8px;">
                <p>
                    {% translate 'Please check your mail inbox to reset your password. If you can't find the reset link, try checking into your spam or sending another link.' %}
                </p>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/js/timer.js' %}">
</script>
{% endblock %}
