{% load static %}
{% load i18n %}
<footer class="text-center bg-dark" style="margin-top: auto;">
    <div class="container text-white py-4 py-lg-5">
        <ul class="list-inline">
            <li class="list-inline-item me-4"><a class="link-light" href="/terms_of_use/">Terms of Service</a></li>
            <li class="list-inline-item me-4"><a class="link-light" href="/privacy_policy/">Privacy Policy</a></li>
            <li class="list-inline-item"><a class="link-light" href="/about/">About Transcendence</a></li>
        </ul>
        <p class="mb-0" style="color: var(--bs-body-bg);">Transcendence42 - 2024&nbsp;</p>
    </div>
</footer>
