{% load static %}
{% load i18n %}
<footer class="text-center bg-dark" style="margin-top: auto;">
    <div class="container text-white py-4 py-lg-5">
        <ul class="list-inline">
            <li class="list-inline-item me-4"><a id="navTosFooter" class="link-light" href="/about/terms_of_service/">{% translate 'Terms of Service' %}</a></li>
            <li class="list-inline-item me-4"><a id="navPPFooter" class="link-light" href="/about/privacy_policy/">{% translate 'Privacy Policy' %}</a></li>
            <li class="list-inline-item"><a id="navAboutFooter" class="link-light" href="/about/">{% translate 'About Transcendence42' %}</a></li>
        </ul>
        <p class="mb-0" style="color: var(--bs-body-bg);">Transcendence42 - 2024&nbsp;</p>
    </div>
</footer>
