{% load static %}
{% include "sidebar.html" %}
{% block content %}
<div class="container">
    <div class="row d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;margin-top: 0px;margin-bottom: 0px;">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-11 d-xl-flex justify-content-xl-end align-items-xl-center" style="height: 100%;padding-left: 0px;padding-right: 0px;">
            <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex flex-row-reverse justify-content-start align-items-center justify-content-sm-start justify-content-md-start justify-content-lg-start align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center">
                <a aria-controls="collapse-1" aria-expanded="false" class="btn btn-primary d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" data-bs-toggle="collapse" href="#collapse-1" role="button" style="background: var(--bs-body-color);border-radius: 50%;width: 55px;height: 55px;margin-left: 5px;margin-right: 5px;border: 2px solid rgb(255, 255, 255);">
                    <svg class="icon icon-tabler icon-tabler-search" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 24px;width: 100%;height: 100%;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                    </svg>
                </a>
                <div class="collapse collapse-horizontal" id="collapse-1">
                    <input class="d-xxl-flex" placeholder="Find a Player" style="height: 55px;color: var(--bs-body-bg);background: var(--bs-body-color);border-radius: 19px;width: 250px;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;border: 2px solid var(--bs-body-bg) ;" type="text"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 0px;margin-bottom: 15px;">
    <div class="row d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center">
        <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5 col-xxl-4 d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;padding-left: 0px;padding-right: 0px;">
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xxl-start p-4 text-center m-5 rounded-5" style="backdrop-filter: blur(30px);-webkit-backdrop-filter: blur(30px);filter: blur(0px);background: linear-gradient(-45deg, black, rgba(131,131,131,0) 51%, #000000);box-shadow: 0px 0px 6px 2px #5abfea;height: 100%;width: 100%;border: 1px solid #5abfea;">
                <div style="width: 170px;height: 100%;">
                    <div class="text-nowrap text-truncate d-flex d-md-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" id="player-info-1" style="width: 170px;height: 165px;border-radius: 19px;">
                        <img class="rounded-circle mb-3 fit-cover" height="130" src="assets/img/DALL·E%202024-06-23%2017.26.33%20-%20A%20simple%20and%20modern%20icon%20of%20a%20ping%20pong%20paddle%20and%20ball.%20The%20paddle%20is%20red%20with%20a%20black%20handle,%20and%20the%20ball%20is%20white.%20The%20design%20is%20minimalistic%20with.webp" style="height: 110px;width: 110px;box-shadow: 0px 0px 12px 3px #5abfea;border: 4px solid #5abfea ;" width="130"/>
                        <span class="text-truncate fs-5 text-light text-truncate" style="text-overflow: ellipsis;height: 30px;width: 100%;font-weight: bold;background: rgba(90,191,234,0.3);box-shadow: 0px 0px 20px 2px rgba(90,191,234,0.3);border-radius: 15px;text-shadow: 2px 2px 2px var(--bs-emphasis-color);">
                            {{ profile.alias }}
                        </span>
                    </div>
                </div>
                <div class="text-truncate d-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center align-items-lg-start justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="height: 155px;width: 150px;">
                    <div class="d-flex d-md-flex d-xxl-flex flex-column justify-content-center align-items-end align-items-sm-start justify-content-md-center align-items-md-start align-items-lg-start align-items-xl-start justify-content-xxl-center align-items-xxl-center stats" style="padding-right: 0px;height: 150px;width: 80%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-left: 15px;margin-right: 15px;">
                        <div class="text-start d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center align-items-xxl-center" style="margin-bottom: 0px;width: 100%;height: 100%;padding-top: 0px;padding-bottom: 0px;">
                            <h1 class="fs-4" style="color: var(--bs-body-bg);margin-bottom: 0px;">
                                Rank
                            </h1>
                            <span class="text-truncate fs-5 d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="win-number-4" style="color: #f9dd16;width: 100%;">
                                #{{ profile.get_rank }}
                            </span>
                        </div>
                    </div>
                    <div class="d-flex d-md-flex d-xxl-flex flex-column justify-content-center align-items-end align-items-sm-start justify-content-md-center align-items-md-start align-items-lg-start align-items-xl-start justify-content-xxl-center align-items-xxl-center stats" style="padding-right: 0px;height: 150px;width: 80%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-left: 15px;margin-right: 15px;">
                        <div class="text-start d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-bottom: 0px;width: 100%;height: 100%;padding-top: 0px;padding-bottom: 0px;">
                            <h1 class="fs-4" style="color: var(--bs-body-bg);margin-bottom: 0px;">
                                Points
                            </h1>
                            <span class="text-truncate fs-5 d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" id="win-number-5" style="color: #5abfea;width: 100%;font-weight: bold;">
                                {{ profile.elo }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-4 col-md-5 col-lg-3 col-xl-4 col-xxl-3 d-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-start justify-content-xxl-center align-items-xxl-center" style="height: 100%;padding-left: 0px;padding-right: 0px;">
            <a class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" href="/select/" style="height: 214px;width: 201.75px;">
                <div class="d-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center p-4 text-center m-5 rounded-5" style="backdrop-filter: blur(30px);-webkit-backdrop-filter: blur(30px);filter: blur(0px);background: linear-gradient(-45deg, black, rgba(131,131,131,0) 51%, #000000);box-shadow: 0px 0px 6px 2px #5abfea;border: 1px solid #5abfea;height: 215px;">
                    <div class="d-flex d-sm-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;">
                        <div class="d-flex d-md-flex d-xxl-flex flex-column justify-content-center align-items-end align-items-sm-start justify-content-md-center align-items-md-start align-items-lg-start align-items-xl-start justify-content-xxl-center align-items-xxl-center stats" style="padding-right: 0px;height: 150px;width: 80%;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-left: 15px;margin-right: 15px;">
                            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-bottom: 0px;width: 100%;height: 100%;padding-top: 0px;padding-bottom: 0px;">
                                <h1 class="fs-2" style="color: var(--bs-body-bg);font-weight: bold;margin-bottom: 0px;">
                                    Create
                                </h1>
                                <span class="fs-4" id="win-number-1" style="color: var(--bs-body-bg);font-weight: bold;">
                                    Game
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 0px;margin-bottom: 10px;">
    <div class="row d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-start justify-content-lg-center justify-content-xl-start justify-content-xxl-center">
        <div class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-6 col-xxl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center">
            <div class="d-flex d-xxl-flex justify-content-start align-items-center justify-content-xxl-end align-items-xxl-center" style="background: rgba(33,37,41,0);border-radius: 30px;color: var(--bs-btn-active-color);border: 2px solid var(--bs-body-bg);height: 45px;width: 35%;">
                <input class="d-xxl-flex" id="gamesearch" placeholder="Find a Game" style="width: 100%;margin-left: 8px;background: rgba(255,255,255,0);color: var(--bs-body-bg);height: 100%;padding-left: 10px;border-style: hidden;font-size: 20px;" type="text"/>
            </div>
            <div style="width: 70%;height: 45px;">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-6 col-xl-6 col-xxl-5 d-sm-flex d-md-flex d-xxl-flex justify-content-sm-end justify-content-md-end justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">
            <div class="d-flex d-xl-flex d-xxl-flex justify-content-end align-items-center justify-content-xl-end align-items-xl-center align-items-xxl-center" style="height: 45px;">
                <button class="btn btn-primary d-xxl-flex" data-bs-target="#modalFilter" data-bs-toggle="modal" data-bss-tooltip="" style="color: rgb(0,0,0);border-style: none;background: rgba(13,110,253,0);" title="Filters" type="button">
                    <svg class="icon icon-tabler icon-tabler-filter" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 40px;color: var(--bs-btn-disabled-color);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z"></path>
                    </svg>
                </button>
                <button class="btn btn-primary d-xxl-flex refreshButton" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: rgb(0,0,0);border-style: none;background: rgba(13,110,253,0);" title="Refresh Rooms" type="button">
                    <svg class="icon icon-tabler icon-tabler-refresh" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 40px;color: var(--bs-btn-disabled-color);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center">
        <div class="col-12 col-md-12 col-xxl-11">
            <div class="d-flex justify-content-center align-items-center" style="background: #5abfea;border-top-left-radius: 19px;border-top-right-radius: 19px;box-shadow: 0px 0px 6px 2px #5abfea;">
                <h1 class="fs-3" style="color: var(--bs-body-bg);text-shadow: 3px 3px 3px var(--bs-emphasis-color);">
                    Game Rooms
                </h1>
            </div>
            <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-xxl-center overflow-auto" style="background: linear-gradient(-15deg, #000000, rgba(134,134,134,0) 58%, #000000 100%), var(--bs-body-color);border-radius: 19px;height: 450px;border-top-left-radius: 0px;border-top-right-radius: 0px;border: 2px solid #5abfea;box-shadow: 0px 0px 6px 2px #5abfea;padding-left: 0px;padding-right: 0px;">
                {% for game in games %}
                <div class="d-flex flex-wrap gameroom" id="template-gameroom" style="border-radius: 19px;width: 100%;border: 2px solid #5abfea;box-shadow: 0px 0px 6px 2px #5abfea;padding-top: 0px;padding-bottom: 0px;margin-top: 10px;margin-bottom: 10px;padding-left: 0px;padding-right: 0px;">
                    <div class="text-truncate roomel" id="gamename" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate room-name">
                            Name
                        </h1>
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {{ game.name }}
                        </p>
                    </div>
                    <div class="text-truncate roomel" id="gamecreator" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate room-creator">
                            Created By
                        </h1>
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {{ game.host }}
                        </p>
                    </div>
                    <div class="text-truncate roomel" id="gametype" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate room-type">
                            Map
                        </h1>
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                            {{ game.map_choice }}
                        </p>
                    </div>
                    <div class="text-truncate roomel" id="nbplayers" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate nb-players">
                            Current Players
                        </h1>
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                            {{ game.get_player_count }}/{{ game.player_limit }}
                        </p>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center text-truncate roomel" id="join" style="border-style: none;">
                        <button class="btn btn-primary" style="background: #5abfea;border-style: none;text-shadow: 3px 3px 3px rgb(0,0,0);" type="button">
                            Join
                            <svg class="bi bi-joystick" fill="currentColor" height="1em" style="font-size: 25px;" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2"></path>
                                <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                {% endfor %}
                {% if games.count == 0 %}
                <div class="d-flex justify-content-center align-items-center" id="template-nogames" style="height: 100%;">
                    <h1 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: rgb(89,97,105);font-weight: bold;height: 100%;">
                        NO GAMES TO DISPLAY
                    </h1>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="modalFilter" role="dialog" style="border-style: none;" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center" style="border-style: none;border-top-left-radius: 7px;">
                <svg class="icon icon-tabler icon-tabler-filter-edit" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 29px;margin-left: 5px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                    <path d="M10.97 20.344l-1.97 .656v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v1.5"></path>
                    <path d="M18.42 15.61a2.1 2.1 0 0 1 2.97 2.97l-3.39 3.42h-3v-3l3.42 -3.39z"></path>
                </svg>
                <h4 class="modal-title" style="font-weight: bold;">
                    Filters
                </h4>
            </div>
            <form method="post" action="api/games/search/">
                <div class="modal-body d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-start justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="height: 100%;width: 100%;color: var(--bs-body-bg);">
                    <div class="d-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;border-radius: 19px;margin-left: 10px;margin-right: 10px;color: var(--bs-emphasis-color);border-style: solid;background: var(--bs-dark-border-subtle);">
                        <h1 class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center align-items-xxl-center" style="padding-top: 3px;padding-bottom: 3px;margin-top: 15px;margin-bottom: 15px;font-weight: bold;color: var(--bs-body-bg);text-shadow: 2px 3px 3px var(--bs-emphasis-color);">
                            Map
                            <svg class="icon icon-tabler icon-tabler-cards" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 22px;margin-left: 5px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M3.604 7.197l7.138 -3.109a.96 .96 0 0 1 1.27 .527l4.924 11.902a1 1 0 0 1 -.514 1.304l-7.137 3.109a.96 .96 0 0 1 -1.271 -.527l-4.924 -11.903a1 1 0 0 1 .514 -1.304z"></path>
                                <path d="M15 4h1a1 1 0 0 1 1 1v3.5"></path>
                                <path d="M20 6c.264 .112 .52 .217 .768 .315a1 1 0 0 1 .53 1.311l-2.298 5.374"></path>
                            </svg>
                        </h1>
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckMap1" type="checkbox"/>
                                <label class="form-check-label" for="formCheckMap1" style="font-weight: bold;">
                                    Map 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckMap2" type="checkbox"/>
                                <label class="form-check-label" for="formCheckMap2" style="font-weight: bold;">
                                    Map 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckMap3" type="checkbox"/>
                                <label class="form-check-label" for="formCheckMap3" style="font-weight: bold;">
                                    Map 3
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center align-items-sm-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 19px;color: var(--bs-emphasis-color);margin-left: 10px;margin-right: 10px;height: 100%;width: 100%;border-style: solid;background: var(--bs-dark-border-subtle);">
                        <h4 class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="margin-top: 15px;margin-bottom: 15px;font-weight: bold;color: var(--bs-body-bg);text-shadow: 2px 3px 3px var(--bs-emphasis-color);">
                            Powerups
                            <svg class="icon icon-tabler icon-tabler-rocket" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 22px;margin-left: 5px;margin-right: 5px;color: var(--bs-orange);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M4 13a8 8 0 0 1 7 7a6 6 0 0 0 3 -5a9 9 0 0 0 6 -8a3 3 0 0 0 -3 -3a9 9 0 0 0 -8 6a6 6 0 0 0 -5 3"></path>
                                <path d="M7 14a6 6 0 0 0 -3 6a6 6 0 0 0 6 -3"></path>
                                <path d="M15 9m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                            </svg>
                        </h4>
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckPup1" type="checkbox"/>
                                <label class="form-check-label" for="formCheckPup1" style="font-weight: bold;">
                                    Paddle Grow
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckPup2" type="checkbox"/>
                                <label class="form-check-label" for="formCheckPup2" style="font-weight: bold;">
                                    Blockers
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckPup3" type="checkbox"/>
                                <label class="form-check-label" for="formCheckPup3" style="font-weight: bold;">
                                    Bouncy Ball
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;border-radius: 19px;margin-left: 10px;margin-right: 10px;color: var(--bs-emphasis-color);border-style: solid;background: var(--bs-dark-border-subtle);">
                        <h1 class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="margin-top: 15px;margin-bottom: 15px;font-weight: bold;color: var(--bs-body-bg);text-shadow: 2px 3px 3px var(--bs-emphasis-color);">
                            Events
                            <svg class="icon icon-tabler icon-tabler-transform" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 22px;margin-left: 5px;margin-right: 5px;color: #a757ee;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M3 6a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                                <path d="M21 11v-3a2 2 0 0 0 -2 -2h-6l3 3m0 -6l-3 3"></path>
                                <path d="M3 13v3a2 2 0 0 0 2 2h6l-3 -3m0 6l3 -3"></path>
                                <path d="M15 18a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                            </svg>
                        </h1>
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckEvent1" type="checkbox"/>
                                <label class="form-check-label" for="formCheckEvent1" style="font-weight: bold;">
                                    TBD
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckEvent2" type="checkbox"/>
                                <label class="form-check-label" for="formCheckEvent2" style="font-weight: bold;">
                                    TBD
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" id="formCheckEvent3" type="checkbox"/>
                                <label class="form-check-label" for="formCheckEvent3" style="font-weight: bold;">
                                    TBD
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="padding-top: 10px;padding-bottom: 10px;border-style: none;">
                    <button class="btn btn-primary d-xxl-flex" data-bs-dismiss="modal" style="background: var(--bs-form-valid-color);text-shadow: 2px 2px 2px rgb(0,0,0);border-style: none;" type="submit">
                        Apply Filters
                        <svg class="icon icon-tabler icon-tabler-check" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 24px;margin-left: 5px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                            <path d="M5 12l5 5l10 -10"></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
