<!DOCTYPE html>
<html data-bs-theme="light" data-bss-forced-theme="light" lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
        <title>
            {{ title }}
        </title>
        <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static '/fonts/fontawesome-all.min.css' %}" rel="stylesheet"/>
        <link href="{% static '/css/animate.min.css' %}" rel="stylesheet"/>
        <link href="{% static '/css/Footer-Basic-icons.css' %}" rel="stylesheet"/>
        <link href="{% static '/css/styles.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <div id="content">
            {{ sub_template|safe }}
        </div>
        <script src="{% static '/bootstrap/js/bootstrap.min.js' %}">
        </script>
        <script defer="" src="{% static '/js/main.js' %}">
        </script>
        <script defer="" src="{% static '/js/buttons.js' %}">
        </script>
        <script src="{% static '/js/lottie-player.min.js' %}">
        </script>
    </body>
</html>
