{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html data-bs-theme="light" data-bss-forced-theme="light" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
        <title>
            {% block title %}{% translate "Transcendence" %}{% endblock %}
        </title>
        <link rel="icon" type="image/svg" href="{% static 'img/favicon.svg' %}" />
        <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link href="{% static '/fonts/fontawesome-all.min.css' %}" rel="stylesheet"/>
        <link href="{% static '/css/animate.min.css' %}" rel="stylesheet"/>
        <link href="{% static '/css/Footer-Basic-icons.css' %}" rel="stylesheet"/>
        <link href="{% static '/css/styles.css' %}" rel="stylesheet"/>
    </head>
    <body>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <script src="{% static '/js/main.js' %}">
        </script>
    </body>
</html>
