
{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Leaderboard" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
{% include "notifs/notifications.html" %}
<div class="container">
    <div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center">
        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;margin-bottom: 0px;padding-bottom: 0px;padding-top: 10px;">
            <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="background: rgba(255,255,255,0);width: 100%;height: 60%;backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);color: var(--bs-body-bg);">
                <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="background: rgba(0,0,0,0);margin-top: 0px;margin-bottom: 0px;padding-bottom: 0px;padding-top: 0px;height: 100%;width: 100%;">
                    <h1 class="fs-2 d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center justify-content-xxl-center text-truncate" id="player-name-3" style="color: var(--bs-body-bg);border-radius: 10px;font-family: Roboto, sans-serif;width: 100%;position: relative;margin-bottom: 0px;">
                        Top 100 Ranking
                        <img src="{% static '/img/winners-cup.svg' %}" width="50" height="35" style="transform: perspective(0px) rotateY(180deg);position: relative;">
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="height: 100%;padding-left: 12px;padding-right: 12px;padding-bottom: 0px;margin-top: 20px;margin-bottom: 10px;">
            <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="background: rgba(255,255,255,0);backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);color: var(--bs-body-bg);">
                <div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="background: var(--bs-gray-800);border-radius: 35px;">
                    <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="width: 100%;">
                        <div style="width: 70px;height: 70px;padding-left: 0px;padding-right: 0px;margin-right: 0px;margin-left: 0px;">
                            <img src="{{ profile.get_avatar_url }}" style="width: 100%;height: 100%;border-radius: 50%;">
                        </div>
                        <div class="text-truncate" style="padding-right: 20px;padding-left: 0px;">
                            <h1 class="fs-3 d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center justify-content-xxl-center text-truncate" id="player-name-1" style="color: var(--bs-body-bg);border-radius: 10px;font-family: Roboto, sans-serif;position: relative;margin-bottom: 0px;">
                                Your Rank
                            </h1>
                            <h1 class="text-truncate fs-3 text-truncate" id="player-name-2" style="color: var(--bs-body-bg);border-radius: 10px;font-family: Roboto, sans-serif;position: relative;margin-bottom: 0px;padding-left: 34px;padding-right: 34px;max-width: 280px;">
                                #{{ profile.get_rank }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-xl-12 col-xxl-12">
            <div class="overflow-auto" style="background: rgba(255,255,255,0);margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;border-radius: 19px;max-height: 815px;">
                {% for player in players %}
                {% if player == players.0 %}
                <div class="d-flex justify-content-center align-items-center flex-nowrap justify-content-xxl-center align-items-xxl-center game-loose" id="template-first" style="border-radius: 18px;width: 100%;border: 2px none #a47e0b;box-shadow: 0px 0px 6px 2px #dca911;margin-bottom: 15px;margin-top: 5px;">
                    <div class="d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 60px;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 60px;border-style: solid;border-color: var(--bs-secondary-text-emphasis);padding-bottom: 0px;padding-top: 0px;">
                            <a href="">    
                                <img data-bs-toggle="tooltip" data-bss-tooltip="" src="{{ player.get_avatar_url }}" width="169" height="166" style="border-radius: 50%;height: 100%;width: 100%;" title="{{ player.alias }}">
                            </a>
                        </div>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.alias }}
                        </p>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center d-none d-sm-block text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.elo }} Pts
                        </p>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;font-size: 30px;width: 100%;">
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;text-shadow: 1px 2px 3px var(--bs-emphasis-color);">
                            #{{ player.get_rank }}
                        </p>
                        <lottie-player src="{% static '/js/Medal_gold.json' %}" mode="normal" autoplay="" style="width: 25%;height: 25%;"></lottie-player>
                    </div>
                </div>
                {% elif player == players.1 %}
                <div class="d-flex justify-content-center align-items-center flex-nowrap justify-content-xxl-center align-items-xxl-center game-loose" id="template-first-3" style="border-radius: 18px;width: 100%;border: 2px none #a47e0b;box-shadow: 0px 0px 6px 2px var(--bs-gray-500);margin-top: 15px;margin-bottom: 15px;">
                    <div class="d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 60px;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 60px;border-style: solid;border-color: var(--bs-secondary-text-emphasis);padding-bottom: 0px;padding-top: 0px;">
                            <a href="">    
                                <img data-bs-toggle="tooltip" data-bss-tooltip="" src="{{ player.get_avatar_url }}" width="169" height="166" style="border-radius: 50%;height: 100%;width: 100%;" title="{{ player.alias }}">
                            </a>
                        </div>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.alias }}
                        </p>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center d-none d-sm-block text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.elo }} Pts
                        </p>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;font-size: 30px;width: 100%;">
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;text-shadow: 1px 2px 3px var(--bs-emphasis-color);">
                            #{{ player.get_rank }}
                        </p>
                        <lottie-player src="{% static '/js/Medal_silver.json' %}" mode="normal" autoplay="" style="width: 25%;height: 25%;"></lottie-player>
                    </div>
                </div>
                {% elif player == players.2 %}
                <div class="d-flex justify-content-center align-items-center flex-nowrap justify-content-xxl-center align-items-xxl-center game-loose" id="template-first-2" style="border-radius: 18px;width: 100%;border: 2px none #a47e0b;box-shadow: 0px 0px 6px 2px #c3700f;margin-top: 15px;margin-bottom: 15px;">
                    <div class="d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 60px;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 60px;border-style: solid;border-color: var(--bs-secondary-text-emphasis);padding-bottom: 0px;padding-top: 0px;">
                            <a href="">    
                                <img data-bs-toggle="tooltip" data-bss-tooltip="" src="{{ player.get_avatar_url }}" width="169" height="166" style="border-radius: 50%;height: 100%;width: 100%;" title="{{ player.alias }}">
                            </a>
                        </div>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.alias }}
                        </p>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center d-none d-sm-block text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.elo }} Pts
                        </p>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;font-size: 30px;width: 100%;">
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;text-shadow: 1px 2px 3px var(--bs-emphasis-color);">
                            #{{ player.get_rank }}
                        </p>
                        <lottie-player src="{% static '/js/Medal_bronze.json' %}" mode="normal" autoplay="" style="width: 25%;height: 25%;"></lottie-player>
                    </div>
                </div>
                {% else %}
                <div class="d-flex justify-content-center align-items-center flex-nowrap justify-content-xxl-center align-items-xxl-center game-loose" id="template-others" style="border-radius: 18px;width: 100%;border: 2px none #a47e0b;box-shadow: 0px 0px 6px 2px var(--bs-light-text-emphasis);margin-top: 15px;margin-bottom: 15px;">
                    <div class="d-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 60px;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 60px;border-style: solid;border-color: var(--bs-secondary-text-emphasis);padding-bottom: 0px;padding-top: 0px;">
                            <a href="">    
                                <img data-bs-toggle="tooltip" data-bss-tooltip="" src="{{ player.get_avatar_url }}" width="169" height="166" style="border-radius: 50%;height: 100%;width: 100%;" title="{{ player.alias }}">
                            </a>
                        </div>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.alias }}
                        </p>
                    </div>
                    <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center d-none d-sm-block text-truncate leaderboardinfos" style="border-style: none;width: 100%;">
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;font-size: 20px;text-shadow: 1px 1px 2px var(--bs-emphasis-color);">
                            {{ player.elo }} Pts
                        </p>
                    </div>
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center text-truncate leaderboardinfos" style="border-style: none;font-size: 30px;width: 100%;">
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);margin-bottom: 0px;text-shadow: 1px 2px 3px var(--bs-emphasis-color);">
                            #{{ player.get_rank }}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}