{% load static %}
{% load i18n %}
{% include "sidebar.html" %}
{% block content %}
<div>
    <h1 class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-top: 35px;margin-bottom: 35px;">
        Choose a mode
    </h1>
</div>
<div class="container">
    <div class="row d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-md-4" style="width: 390px;margin-top: 20px;margin-bottom: 20px;padding-left: 20px;padding-right: 20px;margin-left: 20px;margin-right: 20px;">
            {% if profile %}
            <a href="/customize/?mode=0">
            {% else %}
            <a href="/mode/?mode=0">
            {% endif %}
                <div class="card cardmode" id="vsAi" style="height: 435px;border-top-left-radius: 16px;border-top-right-radius: 16px;border-style: none;background: var(--bs-emphasis-color);">
                    <h4 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                        {% translate 'Against AI' %}
                    </h4>
                    <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center cardimg" style="height: 330px;">
                        <img height="366" src="{% static '/img/vsia.webp' %}" style="width: 108%;height: 108%;border-bottom-left-radius: 9px;border-bottom-right-radius: 9px;" width="318"/>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" style="width: 390px;margin-top: 20px;margin-bottom: 20px;padding-left: 20px;padding-right: 20px;margin-left: 20px;margin-right: 20px;">
            {% if profile %}
            <a href="/customize/?mode=1">
            {% else %}
            <a href="/mode/?mode=1">
            {% endif %}
                <div class="card cardmode" id="vsLocal" style="height: 435px;border-top-left-radius: 16px;border-top-right-radius: 16px;border-style: none;background: var(--bs-emphasis-color);">
                    <h4 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                        {% translate 'Local Play' %}
                    </h4>
                    <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center cardimg" style="height: 330px;">
                        <img height="366" src="{% static '/img/localplay.webp' %}" style="width: 108%;height: 108%;border-bottom-right-radius: 9px;border-bottom-left-radius: 9px;" width="318"/>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4" style="width: 390px;margin-top: 20px;margin-bottom: 20px;padding-left: 20px;padding-right: 20px;margin-left: 20px;margin-right: 20px;">
            {% if profile %}
            <a href="/customize/?mode=2">
            {% else %}
            <a href="/login/">
            {% endif %}
                <div class="card cardmode" id="vsOnline" style="height: 435px;border-top-left-radius: 16px;border-top-right-radius: 16px;border-style: none;background: var(--bs-emphasis-color);">
                    <h4 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                        {% translate 'Online Play' %}
                    </h4>
                    <div class="card-body d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center cardimg" style="height: 330px;">
                        <img height="366" src="{% static '/img/onlineplay.webp' %}" style="width: 108%;height: 108%;border-bottom-right-radius: 9px;border-bottom-left-radius: 9px;" width="318"/>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
