{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Profile" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="container">
    <div class="row" style="width: 100%;margin: 0px;">
        <div class="col-md-12 d-flex justify-content-center align-items-center" style="margin-bottom: 10px;">
            <h1 class="d-xl-flex justify-content-xl-center align-items-xl-center" style="color: var(--bs-body-bg);">
                {% translate 'Profile' %}
                <svg class="icon icon-tabler icon-tabler-user" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="color: rgb(220,149,66);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="margin-left: 0px;margin-right: 0px;">
        <div class="col-md-4 col-lg-4 col-xl-3 col-xxl-3" style="height: 100%;padding-left: 0px;padding-right: 0px;">
            <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="background: linear-gradient(-54deg, black, rgba(128,128,128,0) 50%, #000000 100%), rgba(255,255,255,0);width: 100%;height: 100%;backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);color: var(--bs-body-bg);border-radius: 28px;border: 3px solid rgb(220,149,66);box-shadow: 0px 0px 6px 2px rgb(220,149,66);">
                <div class="text-truncate d-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="background: rgba(0,0,0,0);margin-top: 0px;margin-bottom: 0px;padding-bottom: 0px;padding-top: 0px;height: 417px;">
                    <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 160px;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 160px;padding-bottom: 0px;padding-top: 0px;border: 5px solid rgb(220,149,66);margin-top: 15px;margin-bottom: 15px;">
                        <img height="166" src="{{ profile.avatar_url }}?{% now 'U' %}" style="height: 100%;width: 100%;border-radius: 50%;" width="169"/>
                    </div>
                    <div class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="width: 100%;">
                        <h1 class="text-nowrap text-truncate fs-3 text-center" id="player-name" style="border-style: none;display: inline-block;width: 80%;">
                            {{ profile.alias }}
                        </h1>
                    </div>
                    <div id="add-friend-btn" class="d-flex justify-content-center align-items-center" id="template-actions" style="width: 100%;height: 20%;">
                        <button class="btn btn-primary" style="margin-left: 12px;margin-right: 12px;box-shadow: 0px 0px;background: rgba(255,255,255,0);border-style: none;color: var(--bs-btn-border-color);" type="button">
                            <svg class="icon icon-tabler icon-tabler-user-plus" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M16 19h6"></path>
                                <path d="M19 16v6"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                            </svg>
                        </button>
                        <button class="btn btn-primary" style="margin-left: 12px;margin-right: 12px;background: rgba(255,255,255,0);border-style: none;color: rgb(255,131,42);" type="button">
                            <svg class="icon icon-tabler icon-tabler-user-cancel" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                                <path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                <path d="M17 21l4 -4"></path>
                            </svg>
                        </button>
                        <button class="btn btn-primary" style="margin-left: 12px;margin-right: 12px;background: rgba(255,255,255,0);color: rgb(255,0,0);border-style: none;" type="button">
                            <svg class="icon icon-tabler icon-tabler-trash" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M4 7l16 0"></path>
                                <path d="M10 11l0 6"></path>
                                <path d="M14 11l0 6"></path>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-9" style="padding-left: 15px;padding-right: 15px;">
            <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 35px;background: rgb(220,149,66);border-top-left-radius: 19px;border-top-right-radius: 19px;backdrop-filter: opacity(1) blur(0px);-webkit-backdrop-filter: opacity(1) blur(0px);box-shadow: 0px 0px 6px 2px rgb(220,149,66);">
                <h1 class="fs-3" style="color: var(--bs-body-bg);text-shadow: 3px 3px 3px var(--bs-emphasis-color);">
                    {% translate 'Recent Games' %}
                </h1>
            </div>
            <div class="overflow-auto" style="border-radius: 19px;height: 400px;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;border-top-left-radius: 0px;border-top-right-radius: 0px;border: 3px solid rgb(220,149,66);background: linear-gradient(-45deg, black 0%, rgba(190,190,190,0) 57%, #000000);box-shadow: 0px 0px 6px 2px rgb(220,149,66);">
                <!-- {% if round.count == 0 %}
                <div class="d-flex justify-content-center align-items-center" id="template-nogames" style="height: 100%;">
                    <h1 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: rgb(89,97,105);font-weight: bold;height: 100%;">
                        NO GAMES TO DISPLAY
                    </h1>
                </div>
                {% endif %} -->
                {% for round in rounds %}
                {% if round.winner == profile %}
                <div class="d-flex flex-wrap game-won" id="template-win" style="width: 100%;padding-left: 0px;border-radius: 18px;border: 2px solid rgb(14,157,20);margin-top: 10px;margin-bottom: 10px;box-shadow: 0px 0px 6px 2px rgb(14,157,20);">
                    <div class="d-sm-flex d-lg-flex d-xl-flex flex-column justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate versus">
                            {% translate 'Versus' %}
                        </h1>
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {% if round.profile1 == profile %}
                            {{ round.profile2.alias }}
                            {% else %}
                            {{ round.profile1.alias }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="d-sm-flex d-lg-flex d-xl-flex flex-column justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate score">
                            {% translate 'Score' %}
                        </h1>
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {% if round.profile1 == profile %}
                            {{ round.score1 }} - {{ round.score2 }}
                            {% else %}
                            {{ round.score2 }} - {{ round.score1 }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="d-lg-flex d-xl-flex flex-column justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate game-duration">
                            {% translate 'Game Duration' %}
                        </h1>
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {{ round.get_duration }}
                        </p>
                    </div>
                    <div class="d-lg-flex d-xl-flex flex-column justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate game-date">
                            {% translate 'Date' %}
                        </h1>
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {{ round.created_at }}
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="d-flex flex-wrap game-loose" id="template-loose" style="width: 100%;padding-left: 0px;border-radius: 18px;border: 2px solid rgb(255,0,0);margin-top: 10px;margin-bottom: 10px;box-shadow: 0px 0px 6px 2px rgb(255,0,0);">
                    <div class="d-sm-flex d-lg-flex d-xl-flex flex-column justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;margin-bottom: 0px;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate versus">
                            {% translate 'Versus' %}
                        </h1>
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {% if round.profile1 == profile %}
                            {{ round.profile2.alias }}
                            {% else %}
                            {{ round.profile1.alias }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="d-sm-flex d-lg-flex d-xl-flex flex-column justify-content-sm-center align-items-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate score">
                            {% translate 'Score' %}
                        </h1>
                        <p class="text-truncate d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {% if round.profile1 == profile %}
                            {{ round.score2 }} - {{ round.score1 }}
                            {% else %}
                            {{ round.score1 }} - {{ round.score2 }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="d-sm-flex d-lg-flex d-xl-flex flex-column justify-content-sm-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate game-duration">
                            {% translate 'Game Duration' %}
                        </h1>
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {{ round.get_duration }}
                        </p>
                    </div>
                    <div class="d-sm-flex d-lg-flex d-xl-flex flex-column justify-content-sm-center align-items-lg-center justify-content-xl-center align-items-xl-center text-truncate gameinfos" style="border-style: none;">
                        <h1 class="fs-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate game-date">
                            {% translate 'Date' %}
                        </h1>
                        <p class="d-xxl-flex justify-content-xxl-center align-items-xxl-center text-truncate" style="color: var(--bs-body-bg);">
                            {{ round.created_at }}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container d-lg-flex flex-lg-column justify-content-lg-center align-items-lg-center flex-xl-column flex-xxl-column" style="height: 100%;margin-top: 15px;margin-bottom: 15px;width: 100%;border-style: solid;border-color: rgb(220,149,66);border-radius: 19px;padding-left: 15px;padding-right: 15px;background: linear-gradient(-35deg, rgb(0,0,0) 1%, rgba(0,0,0,0) 51%, #0e0c0c);box-shadow: 0px 0px 6px 2px rgb(220,149,66);">
    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="margin-top: 11px;width: 100%;margin-bottom: 0px;background: rgb(220,149,66);border-radius: 11px;box-shadow: 0px 0px 6px 2px rgb(220,149,66);">
        <h1 class="fs-3" style="color: var(--bs-body-bg);text-shadow: 3px 3px 3px var(--bs-emphasis-color);">
            {% translate 'Player Statistics' %}
        </h1>
    </div>
    <div class="row" style="margin-left: 0px;margin-right: 0px;width: 100%;padding-left: 0px;padding-right: 0px;">
        <div class="col-md-6 col-lg-7 col-xl-6 col-xxl-6 d-lg-flex d-xxl-flex justify-content-lg-center align-items-lg-center justify-content-xxl-center">
            <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center overflow-auto" style="background: rgba(0,0,0,0);width: 100%;">
                <div class="d-flex d-sm-flex d-md-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center" style="border-radius: 25px;width: 100%;">
                    <div class="d-flex d-sm-flex flex-column justify-content-sm-center align-items-sm-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-left: 15px;margin-right: 15px;border-radius: 20px;padding-top: 0px;padding-bottom: 0px;margin-top: 10px;margin-bottom: 10px;">
                        <h1 class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-start justify-content-md-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-bottom: 0px;">
                            {% translate 'Total Games' %}
                        </h1>
                        <span class="fs-5 d-flex justify-content-center align-items-center total-tournaments" style="width: 100%;font-weight: bold;color: var(--bs-body-bg);">
                            {{ profile.get_total_games }}
                        </span>
                    </div>
                    <div class="d-flex d-xxl-flex flex-column justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;border-radius: 20px;margin-left: 16px;margin-right: 16px;padding-top: 0px;padding-bottom: 0px;margin-top: 0px;margin-bottom: 0px;">
                        <h1 class="fs-5 d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);margin-bottom: 0px;">
                            {% translate 'Won Tournaments' %}
                            <svg class="icon icon-tabler icon-tabler-trophy" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 32px;color: #f9e814;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                <path d="M8 21l8 0"></path>
                                <path d="M12 17l0 4"></path>
                                <path d="M7 4l10 0"></path>
                                <path d="M17 4v8a5 5 0 0 1 -10 0v-8"></path>
                                <path d="M5 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M19 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                            </svg>
                        </h1>
                        <span class="fs-5 d-flex justify-content-center align-items-center total-tournaments" style="width: 100%;font-weight: bold;color: #f9e814;">
                            {{ profile.get_won_tournaments }}
                        </span>
                    </div>
                </div>
                <div class="d-flex d-sm-flex d-md-flex align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center" style="border-radius: 25px;width: 100%;">
                    <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;border-radius: 20px;margin-left: 15px;margin-right: 15px;margin-top: 10px;margin-bottom: 10px;padding-top: 0px;padding-bottom: 0px;">
                        <h1 class="text-nowrap fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                            {% translate 'Won Games' %}
                        </h1>
                        <h1 class="text-nowrap fs-5 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="color: var(--bs-body-bg);">
                            {% translate 'Lost Games' %}
                        </h1>
                    </div>
                    <div class="d-md-flex d-xxl-flex flex-column justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;border-radius: 20px;margin-left: 15px;margin-right: 15px;margin-top: 10px;margin-bottom: 10px;padding-top: 0px;padding-bottom: 0px;">
                        <span class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center total-won" style="width: 100%;font-weight: bold;">
                            {{ profile.get_won_games }}
                        </span>
                        <span class="fs-5 d-flex justify-content-center align-items-center total-loss" style="width: 100%;font-weight: bold;">
                            {{ profile.get_lost_games }}
                        </span>
                    </div>
                </div>
                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 25px;width: 100%;">
                    <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-top: 10px;margin-bottom: 10px;padding-top: 0px;padding-bottom: 0px;">
                        <h1 class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);">
                            {% translate 'Rank' %}
                        </h1>
                        <h1 class="fs-5 d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="color: var(--bs-body-bg);">
                            {% translate 'Points' %}
                        </h1>
                    </div>
                    <div class="d-sm-flex d-md-flex d-xxl-flex flex-column justify-content-sm-center align-items-sm-center justify-content-md-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-top: 10px;margin-bottom: 10px;padding-top: 0px;padding-bottom: 0px;">
                        <span class="fs-5 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center total-won" style="width: 100%;font-weight: bold;color: var(--bs-info-border-subtle);">
                            #{{ profile.get_rank }}
                        </span>
                        <span class="fs-5 d-flex justify-content-center align-items-center total-loss" style="width: 100%;color: var(--bs-info-border-subtle);font-weight: bold;">
                            {{ profile.elo }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-xl-6 col-xxl-6 d-flex d-sm-flex d-md-flex d-lg-flex justify-content-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center">
            <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 50%;">
                <svg class="icon icon-tabler icon-tabler-chart-pie-filled" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 200px;color: var(--bs-body-bg);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                    <path d="M9.883 2.207a1.9 1.9 0 0 1 2.087 1.522l.025 .167l.005 .104v7a1 1 0 0 0 .883 .993l.117 .007h6.8a2 2 0 0 1 2 2a1 1 0 0 1 -.026 .226a10 10 0 1 1 -12.27 -11.933l.27 -.067l.11 -.02z" fill="currentColor" stroke-width="0"></path>
                    <path d="M14 3.5v5.5a1 1 0 0 0 1 1h5.5a1 1 0 0 0 .943 -1.332a10 10 0 0 0 -6.11 -6.111a1 1 0 0 0 -1.333 .943z" fill="currentColor" stroke-width="0"></path>
                </svg>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}">
</script>
{% endblock %}