{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Profile" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
{% include "notifs/notifications.html" %}
{% if profile.user.fortytwo_id %}
<div class="container" style='background: url("{{ profile.user.fortytwo_coalition_cover_url }}") bottom;border-radius: 20px;padding-left: 0px;padding-right: 0px;padding-top: 5px;padding-bottom: 0px;margin-bottom: 0px;'>
	<div class="row d-md-flex d-xl-flex d-xxl-flex justify-content-md-center justify-content-xl-center justify-content-xxl-center" style="border-radius: 19px;background: rgba(255,255,255,0);opacity: 1;filter: blur(0px);backdrop-filter: opacity(1) blur(7px);-webkit-backdrop-filter: opacity(1) blur(7px);box-shadow: 0px 0px 6px 2px {{ profile.user.fortytwo_coalition_color }};margin-left: 0px;margin-right: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-bottom: 0px;margin-top: 0px;border: 2px none {{ profile.user.fortytwo_coalition_color }};">
		<div class="col-sm-12 col-md-10 col-lg-6 col-xl-6 col-xxl-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 0px;padding-right: 0px;margin-top: 10px;margin-bottom: 10px;">
			<div class="text-truncate d-flex d-xxl-flex align-items-center align-items-xxl-start" style="height: 100%;width: 100%;max-width: none;">
				<div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center" style="width: 30%;height: 100%;margin-top: 0px;margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;">
					<div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 80%;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 100%;padding-bottom: 0px;padding-top: 0px;margin-top: 0px;margin-bottom: 0px;border: 0px none var(--bs-gray-700);">
						<img height="153" src="{{ profile.get_avatar_url }}" style="height: 100%;width: 100%;border-radius: 50%;box-shadow: 0px 0px 7px 3px {{ profile.user.fortytwo_coalition_color }};margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;border: 3px solid {{ profile.user.fortytwo_coalition_color }};" width="153"/>
					</div>
				</div>
				<div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-top: 0px;height: 100%;width: 70%;padding-left: 0px;padding-right: 0px;">
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;">
						<h1 class="text-truncate fs-2 text-center" data-bs-toggle="tooltip" data-bss-tooltip="" id="playerName" style="border-style: none;display: inline-block;font-weight: bold;color: var(--bs-body-bg);text-shadow: 0px 0px 10px {{ profile.user.fortytwo_coalition_color }};max-width: 380px;width: 100%;" title="{{ profile.alias }}">
							{{ profile.alias }}
						</h1>
					</div>
					<div class="d-flex justify-content-center align-items-center justify-content-xxl-center" style="background: rgba(0,0,0,0.2);border-radius: 10px;width: 75%;">
						{% if not is_self %}
						{% if is_friend %}
						<button data-friendship-id="{{ friendship.id }}" id="removeFriendBtn" class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);border-style: none;color: #bb2d3b;width: 20%;margin-left: 5px;margin-right: 5px;">
							<svg class="icon icon-tabler icon-tabler-user-off" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="font-size: 35px;" title="Remove Friend">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8.18 8.189a4.01 4.01 0 0 0 2.616 2.627m3.507 -.545a4 4 0 1 0 -5.59 -5.552"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4c.412 0 .81 .062 1.183 .178m2.633 2.618c.12 .38 .184 .785 .184 1.204v2"></path>
								<path d="M3 3l18 18"></path>
							</svg>
						</button>
						{% elif is_requested %}
						<div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center btn" style="box-shadow: 0px 0px;background: rgba(255,255,255,0);color: var(--bs-btn-border-color);width: 20%;margin-left: 5px;margin-right: 5px;border-style: none;">
							<svg class="icon icon-tabler icon-tabler-user-check text-success" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" title="Add Player" style="font-size: 35px;">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
								<path d="M15 19l2 2l4 -4"></path>
							</svg>
						</div>
						{% else %}
						<button data-profile-id="{{ profile.id }}" id="addFriendBtn" class="btn btn-primary" style="box-shadow: 0px 0px;background: rgba(255,255,255,0);border-style: none;color: var(--bs-btn-border-color);width: 20%;margin-left: 0px;margin-right: 0px;" type="button">
							<svg class="icon icon-tabler icon-tabler-user-plus text-success" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" title="Add Player" style="font-size: 35px;">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
								<path d="M16 19h6"></path>
								<path d="M19 16v6"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
							</svg>
						</button>
						{% endif %}
						{% if is_blocked %}
						<button data-block-id="{{ profile_block.id }}" id="unblockProfileBtn" class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);border-style: none;color: rgb(215,119,50);width: 20%;margin-left: 5px;margin-right: 5px;">
							<svg class="icon icon-tabler icon-tabler-bell-ringing text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="font-size: 35px;" title="Unblock">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
								<path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
								<path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727"></path>
								<path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727"></path>
							</svg>
						</button>
						{% else %}
						<button data-profile-id="{{ profile.id }}" id="blockProfileBtn" class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);border-style: none;color: rgb(215,119,50);width: 20%;margin-left: 5px;margin-right: 5px;">
							<svg class="icon icon-tabler icon-tabler-bell-off" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="font-size: 35px;" title="Block Player">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M9.346 5.353c.21 -.129 .428 -.246 .654 -.353a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3m-1 3h-13a4 4 0 0 0 2 -3v-3a6.996 6.996 0 0 1 1.273 -3.707"></path>
								<path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
								<path d="M3 3l18 18"></path>
							</svg>
						</button>
						{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 d-sm-flex d-xxl-flex flex-row justify-content-sm-center align-items-sm-center justify-content-xxl-center align-items-xxl-center" style="padding-left: 10px;padding-right: 10px;margin-top: 10px;margin-bottom: 10px;">
			<div class="d-flex d-sm-flex d-md-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;">
				<div class="text-truncate d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 50%;height: 100%;margin-top: 0px;margin-bottom: 0px;color: var(--bs-body-bg);padding-left: 10px;padding-right: 10px;margin-left: 0px;margin-right: 0px;padding-top: 20px;padding-bottom: 20px;">
					<h1 class="text-truncate text-center" data-bs-toggle="tooltip" data-bss-tooltip="" id="player-name-6" style="border-style: none;display: inline-block;color: var(--bs-body-bg);text-shadow: 0px 0px 10px var(--bs-emphasis-color);max-width: 265px;height: 100%;width: 100%;padding-bottom: 0px;margin-bottom: 0px;font-weight: bold;" title="#rank">
						#{{ profile.get_rank }}
					</h1>
					<h1 class="fs-3 text-center d-flex d-xxl-flex justify-content-center align-items-start justify-content-xxl-center align-items-xxl-start" id="player-name-5" style="width: 100%;height: 100%;text-shadow: 0px 0px 10px var(--bs-emphasis-color);color: var(--bs-body-bg);margin-bottom: 0px;">
						<svg class="icon icon-tabler icon-tabler-medal" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;color: var(--bs-yellow);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path d="M12 4v3m-4 -3v6m8 -6v6"></path>
							<path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"></path>
						</svg>
						Rank
					</h1>
				</div>
				<div class="text-truncate d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 50%;height: 100%;color: var(--bs-body-bg);padding-left: 10px;padding-right: 10px;margin-left: 0px;margin-right: 0px;padding-top: 20px;padding-bottom: 20px;">
					<h1 class="text-truncate fs-1" data-bs-toggle="tooltip" data-bss-tooltip="" id="player-name-2" style="border-style: none;text-shadow: 0px 0px 10px var(--bs-emphasis-color);height: 100%;text-align: center;max-width: 265px;width: 100%;margin-bottom: 0px;font-weight: bold;" title="#Points">
						{{ profile.elo }}
					</h1>
					<h1 class="fs-3 text-center d-flex d-xxl-flex justify-content-center align-items-start justify-content-xxl-center align-items-xxl-start" id="player-name-4" style="border-style: none;width: 100%;height: 100%;text-shadow: 0px 0px 10px var(--bs-emphasis-color);color: var(--bs-body-bg);margin-bottom: 0px;">
						<svg class="icon icon-tabler icon-tabler-stars-filled" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;color: var(--bs-info);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path d="M17.657 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.907 -.278l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.773l-.143 .007z" fill="currentColor" stroke-width="0"></path>
							<path d="M6.057 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.324 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z" fill="currentColor" stroke-width="0"></path>
							<path d="M11.857 2.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.894l1.709 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.892l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z" fill="currentColor" stroke-width="0"></path>
						</svg>
						Points
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 0px;margin-bottom: 0px;padding-left: 12px;padding-right: 12px;">
	<div class="row d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="margin-top: 15px;margin-bottom: 15px;">
			<h3 class="d-flex d-xxl-flex justify-content-start align-items-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-left: 0px;margin-right: 0px;text-shadow: 2px 2px 2px {{ profile.user.fortytwo_coalition_color }};margin-bottom: 0px;">
				Game History (Last 20 Games)
			</h3>
		</div>
		<div class="col-xl-12 col-xxl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center overflow-auto" style="padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;">
			{% for round in rounds %}
            {% if round.winner == profile %}
			<div class="card d-flex flex-shrink-0 justify-content-center align-items-center" style="background: rgba(255,255,255,0);width: 153px;margin-top: 10px;margin-bottom: 10px;height: 214px;margin-left: 5px;margin-right: 5px;">
				<div class="card-body d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 15px;box-shadow: 0px 0px 6px 2px {{ profile.user.fortytwo_coalition_color }};border: 0px solid {{ profile.user.fortytwo_coalition_color }};width: 100%;margin-left: 0px;margin-right: 0px;height: 100%;">
					<h1 class="card-title" style="font-weight: bold;text-align: center;color: {{ profile.user.fortytwo_coalition_color }};">
						WIN
					</h1>
					<img class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" src="{{ round.get_loser }}" style="width: 60px;height: 60px;border-radius: 50%;border-style: solid;border-color: var(--bs-secondary-text-emphasis);"/>
					<h4 class="text-nowrap text-center card-title" style="margin-bottom: 0px;color: {{ profile.user.fortytwo_coalition_color }};font-weight: bold;">
					{% if round.player1 == profile %}
					{{ round.score1 }} - {{ round.score2 }}
					{% else %}
					{{ round.score2 }} - {{ round.score1 }}
					{% endif %}
					</h4>
					{% if round.player1 == profile %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player2.alias }}">
					{% else %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player1.alias }}">
					{% endif %}
					Game Details
					</a>
				</div>
			</div>
			{% else %}
			<div class="card d-flex flex-shrink-0 justify-content-center align-items-center" style="background: rgba(255,255,255,0);width: 153px;margin-top: 10px;margin-bottom: 10px;height: 214px;margin-left: 5px;margin-right: 5px;">
				<div class="card-body d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 15px;box-shadow: 0px 0px 6px 2px var(--bs-gray-600);width: 100%;margin-left: 0px;margin-right: 0px;border: 0px solid var(--bs-gray-600);height: 100%;">
					<h1 class="card-title" style="font-weight: bold;text-align: center;color: var(--bs-gray-600);">
						LOSS
					</h1>
					<img class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" src="{{ round.winner }}" style="width: 60px;height: 60px;border-radius: 50%;border-style: solid;border-color: var(--bs-secondary-text-emphasis);"/>
					<h4 class="text-nowrap text-center card-title" style="margin-bottom: 0px;color: var(--bs-gray-600);font-weight: bold;border-color: var(--bs-gray-600);">
					{% if round.player1 == profile %}
					{{ round.score2 }} - {{ round.score1 }}
					{% else %}
					{{ round.score1 }} - {{ round.score2 }}
					{% endif %}
					</h4>
					{% if round.player1 == profile %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player1.alias }}">
					{% else %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player2.alias }}">
					{% endif %}
					Game Details
					</a>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% if rounds.count == 0 %}
		<div class="col-xl-12 col-xxl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-0 justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center overflow-auto" style="padding-left: 0px;padding-right: 0px;height: 234px;">
			<h1 class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-gray-700);font-weight: bold;">
				NO GAMES TO SHOW
			</h1>
		</div>
		{% endif %}
	</div>
</div>
<div class="container" style="border-radius: 19px;padding-left: 12px;padding-right: 12px;">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 9px;border: 1px none {{ profile.user.fortytwo_coalition_color }} ;">
			<h3 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);text-shadow: 2px 2px 2px {{ profile.user.fortytwo_coalition_color }};margin-bottom: 10px;margin-top: 0px;">
				Player Statistics
			</h3>
		</div>
		<div class="col-md-12 col-lg-6 col-xl-7 col-xxl-6 d-lg-flex" style="margin-top: 10px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;border-radius: 20px;padding-left: 11px;padding-right: 11px;">
			<div style="width: 100%;height: 100%;background: rgba(52,58,64,0.3);border-radius: 19px;">
				<div>
					<ul class="nav nav-tabs" role="tablist" style="border-style: none;border-bottom-width: 2px;border-bottom-style: none;">
						<li class="nav-item" role="presentation">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-1" role="tab" style="background: rgba(255,255,255,0);color: {{ profile.user.fortytwo_coalition_color }};">
								Winrate
							</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link active" data-bs-toggle="tab" href="#tab-2" role="tab" style="color: {{ profile.user.fortytwo_coalition_color }};background: rgba(255,255,255,0);">
								Points
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="tab-1" role="tabpanel">
							<div class="d-flex justify-content-center align-items-center" style="height: 100%;width: 100%;">
								<div style="width: 100%;height: 100%;">
									<svg class="icon icon-tabler icon-tabler-chart-pie" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 250px;color: var(--bs-body-bg);width: 85%;height: 85%;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
										<path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8"></path>
										<path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5"></path>
									</svg>
								</div>
								<div class="text-truncate" style="width: 100%;height: 100%;">
									<h1 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-xxl-center" style="color: {{ profile.user.fortytwo_coalition_color }};font-weight: bold;margin-top: 10px;margin-bottom: 10px;">
										#WR
									</h1>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-body-bg);">
										Wins:
										<span style="color: {{ profile.user.fortytwo_coalition_color }};">
											{{ profile.get_won_games }}
										</span>
									</h4>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-body-bg);margin-bottom: 8px;">
										Losses:
										<span style="color: var(--bs-gray-600);">
											{{ profile.get_lost_games }}
										</span>
									</h4>
								</div>
							</div>
						</div>
						<div class="tab-pane active" id="tab-2" role="tabpanel">
							<div class="d-flex justify-content-center align-items-center" style="height: 100%;width: 100%;">
								<div style="width: 100%;height: 100%;">
									<svg class="icon icon-tabler icon-tabler-chart-line" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 250px;color: var(--bs-body-bg);width: 85%;height: 85%;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
										<path d="M4 19l16 0"></path>
										<path d="M4 15l4 -6l4 2l4 -5l4 4"></path>
									</svg>
								</div>
								<div class="text-truncate d-flex flex-column align-items-start flex-wrap align-items-sm-start align-items-md-start" style="width: 100%;height: 100%;">
									<h1 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-xxl-center" style="color: {{ profile.user.fortytwo_coalition_color }};font-weight: bold;margin-top: 10px;margin-bottom: 10px;">
										Last 30 days
									</h1>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: {{ profile.user.fortytwo_coalition_color }};">
										#Highestpts
									</h4>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-gray-600);margin-bottom: 8px;">
										#LowestPts
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 col-xl-5 col-xxl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="color: var(--bs-body-bg);margin-top: 10px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
			<div class="d-md-flex d-xxl-flex flex-column justify-content-md-center justify-content-xxl-center align-items-xxl-center" style="padding-top: 0px;padding-bottom: 0px;width: 100%;height: 100%;background: rgba(52,58,64,0.3);margin-top: 0px;margin-bottom: 0px;border-radius: 19px;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
				<h4 class="text-nowrap d-flex d-xxl-flex justify-content-start align-items-center justify-content-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-xxl-center" style="width: 100%;margin-bottom: 15px;margin-top: 15px;">
					<svg class="icon icon-tabler icon-tabler-device-gamepad-2" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;margin-left: 15px;margin-right: 15px;color: var(--bs-primary-border-subtle);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M12 5h3.5a5 5 0 0 1 0 10h-5.5l-4.015 4.227a2.3 2.3 0 0 1 -3.923 -2.035l1.634 -8.173a5 5 0 0 1 4.904 -4.019h3.4z"></path>
						<path d="M14 15l4.07 4.284a2.3 2.3 0 0 0 3.925 -2.023l-1.6 -8.232"></path>
						<path d="M8 9v2"></path>
						<path d="M7 10h2"></path>
						<path d="M14 10h2"></path>
					</svg>
					Total Games Played
					<span class="text-truncate" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: var(--bs-primary-border-subtle);max-width: 246px;" title="#Gamesplayed">
						{{ profile.get_total_games }}
					</span>
				</h4>
				<h4 class="text-nowrap d-flex justify-content-start align-items-center justify-content-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start" style="margin-bottom: 15px;width: 100%;margin-top: 15px;">
					<svg class="icon icon-tabler icon-tabler-trophy-filled" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;margin-left: 15px;margin-right: 15px;color: #fcbf49;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" fill="currentColor" stroke-width="0"></path>
					</svg>
					Won Tournaments
					<span class="text-truncate" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: #fcbf49;margin-left: 0px;max-width: 246px;" title="#Wontournaments">
						{{ profile.get_won_tournaments }}
					</span>
				</h4>
				<h4 class="text-nowrap d-flex justify-content-start align-items-center justify-content-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start" style="margin-top: 15px;margin-bottom: 15px;width: 100%;">
					<svg class="icon icon-tabler icon-tabler-flame" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;margin-left: 15px;margin-right: 15px;color: var(--bs-red);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M12 12c2 -2.96 0 -7 -1 -8c0 3.038 -1.773 4.741 -3 6c-1.226 1.26 -2 3.24 -2 5a6 6 0 1 0 12 0c0 -1.532 -1.056 -3.94 -2 -5c-1.786 3 -2.791 3 -4 2z"></path>
					</svg>
					Best Winning Streak
					<span class="text-truncate" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: var(--bs-red);margin-left: 0px;max-width: 246px;" title="#Streak">
						{{ profile.get_winning_streak }}
					</span>
				</h4>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="container" style="padding-left: 0px;padding-right: 0px;border-radius: 20px;background: linear-gradient(-15deg, rgba(255,255,255,0) 2%, #0d0d0d 54%, rgba(255,255,255,0));padding-top: 5px;margin-bottom: 10px;">
	<div class="row d-md-flex d-xl-flex d-xxl-flex justify-content-md-center justify-content-xl-center justify-content-xxl-center" style="border-radius: 19px;background: rgba(255,255,255,0);opacity: 1;filter: blur(0px);backdrop-filter: opacity(1) blur(7px);-webkit-backdrop-filter: opacity(1) blur(7px);box-shadow: 0px 0px 6px 2px var(--bs-primary-border-subtle);margin-left: 0px;margin-right: 0px;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-bottom: 0px;margin-top: 0px;border: 2px none var(--bs-primary-border-subtle);">
		<div class="col-sm-12 col-md-11 col-lg-6 col-xl-6 col-xxl-5 d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="padding-left: 0px;padding-right: 0px;margin-top: 10px;margin-bottom: 10px;">
			<div class="text-truncate d-flex d-xxl-flex align-items-center align-items-xxl-start" style="height: 100%;width: 100%;max-width: none;">
				<div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center" style="width: 30%;height: 100%;margin-top: 0px;margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;">
					<div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 80%;background: var(--bs-secondary-text-emphasis);border-radius: 50%;height: 100%;padding-bottom: 0px;padding-top: 0px;margin-top: 0px;margin-bottom: 0px;border: 0px none var(--bs-gray-700);">
						<img height="153" src="{{ profile.get_avatar_url }}" style="height: 100%;width: 100%;border-radius: 50%;box-shadow: 0px 0px 7px 3px var(--bs-primary-border-subtle);margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;border: 3px solid var(--bs-primary-border-subtle) ;" width="153"/>
					</div>
				</div>
				<div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-top: 0px;height: 100%;width: 70%;padding-left: 0px;padding-right: 0px;">
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;">
						<h1 class="text-truncate fs-2 text-center" id="player-name-21" style="border-style: none;display: inline-block;font-weight: bold;color: var(--bs-body-bg);text-shadow: 0px 0px 10px var(--bs-primary-border-subtle);max-width: 380px;width: 100%;">
							{{ profile.alias }}
						</h1>
					</div>
					<div class="d-flex justify-content-center align-items-center justify-content-xxl-center" style="background: rgba(0,0,0,0.2);border-radius: 10px;width: 75%;">
						{% if not is_self %}
						{% if is_friend %}
						<button data-friendship-id="{{ friendship.id }}" id="removeFriendBtn" class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);border-style: none;color: #bb2d3b;width: 20%;margin-left: 5px;margin-right: 5px;">
							<svg class="icon icon-tabler icon-tabler-user-off" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="font-size: 35px;" title="Remove Friend">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8.18 8.189a4.01 4.01 0 0 0 2.616 2.627m3.507 -.545a4 4 0 1 0 -5.59 -5.552"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4c.412 0 .81 .062 1.183 .178m2.633 2.618c.12 .38 .184 .785 .184 1.204v2"></path>
								<path d="M3 3l18 18"></path>
							</svg>
						</button>
						{% elif is_requested %}
						<div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center btn" style="box-shadow: 0px 0px;background: rgba(255,255,255,0);color: var(--bs-btn-border-color);width: 20%;margin-left: 5px;margin-right: 5px;border-style: none;">
							<svg class="icon icon-tabler icon-tabler-user-check text-success" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" title="Add Player" style="font-size: 35px;">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
								<path d="M15 19l2 2l4 -4"></path>
							</svg>
						</div>
						{% else %}
						<button data-profile-id="{{ profile.id }}" id="addFriendBtn" class="btn btn-primary" style="box-shadow: 0px 0px;background: rgba(255,255,255,0);border-style: none;color: var(--bs-btn-border-color);width: 20%;margin-left: 0px;margin-right: 0px;" type="button">
							<svg class="icon icon-tabler icon-tabler-user-plus text-success" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" title="Add Player" style="font-size: 35px;">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
								<path d="M16 19h6"></path>
								<path d="M19 16v6"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
							</svg>
						</button>
						{% endif %}
						{% if is_blocked %}
						<button data-block-id="{{ profile_block.id }}" id="unblockProfileBtn" class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);border-style: none;color: rgb(215,119,50);width: 20%;margin-left: 5px;margin-right: 5px;">
							<svg class="icon icon-tabler icon-tabler-bell-ringing text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="font-size: 35px;" title="Unblock">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
								<path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
								<path d="M21 6.727a11.05 11.05 0 0 0 -2.794 -3.727"></path>
								<path d="M3 6.727a11.05 11.05 0 0 1 2.792 -3.727"></path>
							</svg>
						</button>
						{% else %}
						<button data-profile-id="{{ profile.id }}" id="blockProfileBtn" class="btn btn-primary" type="button" style="background: rgba(255,255,255,0);border-style: none;color: rgb(215,119,50);width: 20%;margin-left: 5px;margin-right: 5px;">
							<svg class="icon icon-tabler icon-tabler-bell-off" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="font-size: 35px;" title="Block Player">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M9.346 5.353c.21 -.129 .428 -.246 .654 -.353a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3m-1 3h-13a4 4 0 0 0 2 -3v-3a6.996 6.996 0 0 1 1.273 -3.707"></path>
								<path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
								<path d="M3 3l18 18"></path>
							</svg>
						</button>
						{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-11 col-lg-5 col-xl-5 col-xxl-5 d-sm-flex d-xxl-flex flex-row justify-content-sm-center align-items-sm-center justify-content-xxl-center align-items-xxl-center" style="padding-left: 10px;padding-right: 10px;margin-top: 10px;margin-bottom: 10px;">
			<div class="d-flex d-sm-flex d-md-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;">
				<div class="text-truncate d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 50%;height: 100%;margin-top: 0px;margin-bottom: 0px;color: var(--bs-body-bg);padding-left: 10px;padding-right: 10px;margin-left: 0px;margin-right: 0px;padding-top: 20px;padding-bottom: 20px;">
					<h1 class="text-truncate text-center" id="player-name-22" style="border-style: none;display: inline-block;color: var(--bs-body-bg);text-shadow: 0px 0px 10px var(--bs-emphasis-color);max-width: 265px;height: 100%;width: 100%;padding-bottom: 0px;margin-bottom: 0px;font-weight: bold;">
						#{{ profile.get_rank }}
					</h1>
					<h1 class="fs-3 text-center d-flex d-xxl-flex justify-content-center align-items-start justify-content-xxl-center align-items-xxl-start" id="player-name-23" style="width: 100%;height: 100%;text-shadow: 0px 0px 10px var(--bs-emphasis-color);color: var(--bs-body-bg);margin-bottom: 0px;">
						<svg class="icon icon-tabler icon-tabler-medal" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;color: var(--bs-yellow);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path d="M12 4v3m-4 -3v6m8 -6v6"></path>
							<path d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"></path>
						</svg>
						Rank
					</h1>
				</div>
				<div class="text-truncate d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-center align-items-xl-center" style="width: 50%;height: 100%;color: var(--bs-body-bg);padding-left: 10px;padding-right: 10px;margin-left: 0px;margin-right: 0px;padding-top: 20px;padding-bottom: 20px;">
					<h1 class="text-truncate fs-1" id="player-name-24" style="border-style: none;text-shadow: 0px 0px 10px var(--bs-emphasis-color);height: 100%;text-align: center;max-width: 265px;width: 100%;margin-bottom: 0px;font-weight: bold;">
						{{ profile.elo }}
					</h1>
					<h1 class="fs-3 text-center d-flex d-xxl-flex justify-content-center align-items-start justify-content-xxl-center align-items-xxl-start" id="player-name-25" style="border-style: none;width: 100%;height: 100%;text-shadow: 0px 0px 10px var(--bs-emphasis-color);color: var(--bs-body-bg);margin-bottom: 0px;">
						<svg class="icon icon-tabler icon-tabler-stars-filled" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;color: var(--bs-info);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path d="M17.657 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.907 -.278l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.773l-.143 .007z" fill="currentColor" stroke-width="0"></path>
							<path d="M6.057 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.324 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z" fill="currentColor" stroke-width="0"></path>
							<path d="M11.857 2.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.894l1.709 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.892l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z" fill="currentColor" stroke-width="0"></path>
						</svg>
						Points
					</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container" style="margin-top: 0px;margin-bottom: 0px;padding-left: 12px;padding-right: 12px;">
	<div class="row d-xxl-flex justify-content-xxl-start align-items-xxl-center" style="margin-top: 30px;margin-bottom: 30px;">
		<div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="margin-top: 15px;margin-bottom: 15px;">
			<h3 class="d-flex d-xxl-flex justify-content-start align-items-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-left: 0px;margin-right: 0px;text-shadow: 2px 2px 2px var(--bs-primary-border-subtle);margin-bottom: 0px;">
				Game History (Last 20 Games)
			</h3>
		</div>
		<div class="col-xl-12 col-xxl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center align-items-md-center align-items-lg-center align-items-xl-center align-items-xxl-center overflow-auto" style="padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;">
			{% for round in rounds %}
            {% if round.winner == profile %}
			<div class="card d-flex flex-shrink-0 justify-content-center align-items-center" style="background: rgba(255,255,255,0);width: 153px;margin-top: 10px;margin-bottom: 10px;height: 214px;margin-left: 5px;margin-right: 5px;">
				<div class="card-body d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 15px;box-shadow: 0px 0px 6px 2px var(--bs-primary-border-subtle);border: 0px solid var(--bs-primary-border-subtle);width: 100%;margin-left: 0px;margin-right: 0px;height: 100%;">
					<h1 class="card-title" style="font-weight: bold;text-align: center;color: var(--bs-primary-border-subtle);">
						WIN
					</h1>
					<img class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" src="{{ round.get_loser }}" style="width: 60px;height: 60px;border-radius: 50%;border-style: solid;border-color: var(--bs-secondary-text-emphasis);"/>
					<h4 class="text-nowrap text-center card-title" style="margin-bottom: 0px;color: var(--bs-primary-border-subtle);font-weight: bold;">
					{% if round.player1 == profile %}
					{{ round.score1 }} - {{ round.score2 }}
					{% else %}
					{{ round.score2 }} - {{ round.score1 }}
					{% endif %}
					</h4>
					{% if round.player1 == profile %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player2.alias }}">
					{% else %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player1.alias }}">
					{% endif %}
					Game Details
					</a>
				</div>
			</div>
			{% else %}
			<div class="card d-flex flex-shrink-0 justify-content-center align-items-center" style="background: rgba(255,255,255,0);width: 153px;margin-top: 10px;margin-bottom: 10px;height: 214px;margin-left: 5px;margin-right: 5px;">
				<div class="card-body d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 15px;box-shadow: 0px 0px 6px 2px var(--bs-gray-600);width: 100%;margin-left: 0px;margin-right: 0px;border: 0px solid var(--bs-gray-600);height: 100%;">
					<h1 class="card-title" style="font-weight: bold;text-align: center;color: var(--bs-gray-600);">
						LOSS
					</h1>
					<img class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" src="{{ round.winner }}" style="width: 60px;height: 60px;border-radius: 50%;border-style: solid;border-color: var(--bs-secondary-text-emphasis);"/>
					<h4 class="text-nowrap text-center card-title" style="margin-bottom: 0px;color: var(--bs-gray-600);font-weight: bold;border-color: var(--bs-gray-600);">
					{% if round.player1 == profile %}
					{{ round.score2 }} - {{ round.score1 }}
					{% else %}
					{{ round.score1 }} - {{ round.score2 }}
					{% endif %}
					</h4>
					{% if round.player1 == profile %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player1.alias }}">
					{% else %}
					<a class="btn btn-primary text-nowrap" data-bs-content="Game Duration: {{ round.get_duration }} | Date: {{ round.started_at }}" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover" role="button" style="border-style: none;color: #ffffff;background: rgba(13,110,253,0);" tabindex="0" title="{{ round.player2.alias }}">
					{% endif %}
					Game Details
					</a>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% if rounds.count == 0 %}
		<div class="col-xl-12 col-xxl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-0 justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center overflow-auto" style="padding-left: 0px;padding-right: 0px;height: 234px;">
			<h1 class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-gray-700);font-weight: bold;">
				NO GAMES TO SHOW
			</h1>
		</div>
		{% endif %}
	</div>
</div>
<div class="container" style="border-radius: 19px;padding-left: 12px;padding-right: 12px;">
	<div class="row">
		<div class="col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 9px;border: 1px none var(--bs-primary-border-subtle) ;">
			<h3 class="d-flex justify-content-center align-items-center" style="color: var(--bs-body-bg);text-shadow: 2px 2px 2px var(--bs-primary-border-subtle);margin-bottom: 10px;margin-top: 0px;">
				Player Statistics
			</h3>
		</div>
		<div class="col-md-12 col-lg-6 col-xl-7 col-xxl-6 d-lg-flex" style="margin-top: 10px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;border-radius: 20px;padding-left: 11px;padding-right: 11px;">
			<div style="width: 100%;height: 100%;background: rgba(52,58,64,0.3);border-radius: 19px;">
				<div>
					<ul class="nav nav-tabs" role="tablist" style="border-style: none;border-bottom-width: 2px;border-bottom-style: none;">
						<li class="nav-item" role="presentation">
							<a class="nav-link" data-bs-toggle="tab" href="#tab-1" role="tab" style="background: rgba(255,255,255,0);color: var(--bs-primary-border-subtle);">
								Winrate
							</a>
						</li>
						<li class="nav-item" role="presentation">
							<a class="nav-link active" data-bs-toggle="tab" href="#tab-2" role="tab" style="color: var(--bs-primary-border-subtle);background: rgba(255,255,255,0);">
								Points
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane" id="tab-1" role="tabpanel">
							<div class="d-flex justify-content-center align-items-center" style="height: 100%;width: 100%;">
								<div style="width: 100%;height: 100%;">
									<svg class="icon icon-tabler icon-tabler-chart-pie" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 250px;color: var(--bs-body-bg);width: 85%;height: 85%;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
										<path d="M10 3.2a9 9 0 1 0 10.8 10.8a1 1 0 0 0 -1 -1h-6.8a2 2 0 0 1 -2 -2v-7a.9 .9 0 0 0 -1 -.8"></path>
										<path d="M15 3.5a9 9 0 0 1 5.5 5.5h-4.5a1 1 0 0 1 -1 -1v-4.5"></path>
									</svg>
								</div>
								<div class="text-truncate" style="width: 100%;height: 100%;">
									<h1 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-xxl-center" style="color: var(--bs-primary-border-subtle);font-weight: bold;margin-top: 10px;margin-bottom: 10px;">
										#WR
									</h1>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-body-bg);">
										Wins:
										<span style="color: var(--bs-primary-border-subtle);">
											{{ profile.get_won_games }}
										</span>
									</h4>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-body-bg);margin-bottom: 8px;">
										Losses:
										<span style="color: var(--bs-gray-600);">
											{{ profile.get_lost_games }}
										</span>
									</h4>
								</div>
							</div>
						</div>
						<div class="tab-pane active" id="tab-2" role="tabpanel">
							<div class="d-flex justify-content-center align-items-center" style="height: 100%;width: 100%;">
								<div style="width: 100%;height: 100%;">
									<svg class="icon icon-tabler icon-tabler-chart-line" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 250px;color: var(--bs-body-bg);width: 85%;height: 85%;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
										<path d="M4 19l16 0"></path>
										<path d="M4 15l4 -6l4 2l4 -5l4 4"></path>
									</svg>
								</div>
								<div class="text-truncate d-flex flex-column align-items-start flex-wrap align-items-sm-start align-items-md-start" style="width: 100%;height: 100%;">
									<h1 class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-xxl-center" style="color: var(--bs-primary-border-subtle);font-weight: bold;margin-top: 10px;margin-bottom: 10px;">
										Last 30 days
									</h1>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-primary-border-subtle);">
										#Highestpts
									</h4>
									<h4 class="text-truncate text-start d-flex d-md-flex justify-content-start align-items-center justify-content-md-start align-items-md-center" style="color: var(--bs-gray-600);margin-bottom: 8px;">
										#LowestPts
									</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-6 col-xl-5 col-xxl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="color: var(--bs-body-bg);margin-top: 10px;margin-bottom: 10px;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
			<div class="d-md-flex d-xxl-flex flex-column justify-content-md-center justify-content-xxl-center align-items-xxl-center" style="padding-top: 0px;padding-bottom: 0px;width: 100%;height: 100%;background: rgba(52,58,64,0.3);margin-top: 0px;margin-bottom: 0px;border-radius: 19px;margin-left: 0px;margin-right: 0px;padding-left: 0px;padding-right: 0px;">
				<h4 class="text-nowrap d-flex d-xxl-flex justify-content-start align-items-center justify-content-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start align-items-xxl-center" style="width: 100%;margin-bottom: 15px;margin-top: 15px;">
					<svg class="icon icon-tabler icon-tabler-device-gamepad-2" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;margin-left: 15px;margin-right: 15px;color: var(--bs-primary-border-subtle);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M12 5h3.5a5 5 0 0 1 0 10h-5.5l-4.015 4.227a2.3 2.3 0 0 1 -3.923 -2.035l1.634 -8.173a5 5 0 0 1 4.904 -4.019h3.4z"></path>
						<path d="M14 15l4.07 4.284a2.3 2.3 0 0 0 3.925 -2.023l-1.6 -8.232"></path>
						<path d="M8 9v2"></path>
						<path d="M7 10h2"></path>
						<path d="M14 10h2"></path>
					</svg>
					Total Games Played
					<span class="text-truncate" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: var(--bs-primary-border-subtle);max-width: 246px;" title="#Gamesplayed">
						{{ profile.get_total_games }}
					</span>
				</h4>
				<h4 class="text-nowrap d-flex justify-content-start align-items-center justify-content-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start" style="margin-bottom: 15px;width: 100%;margin-top: 15px;">
					<svg class="icon icon-tabler icon-tabler-trophy-filled" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;margin-left: 15px;margin-right: 15px;color: #fcbf49;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M17 3a1 1 0 0 1 .993 .883l.007 .117v2.17a3 3 0 1 1 0 5.659v.171a6.002 6.002 0 0 1 -5 5.917v2.083h3a1 1 0 0 1 .117 1.993l-.117 .007h-8a1 1 0 0 1 -.117 -1.993l.117 -.007h3v-2.083a6.002 6.002 0 0 1 -4.996 -5.692l-.004 -.225v-.171a3 3 0 0 1 -3.996 -2.653l-.003 -.176l.005 -.176a3 3 0 0 1 3.995 -2.654l-.001 -2.17a1 1 0 0 1 1 -1h10zm-12 5a1 1 0 1 0 0 2a1 1 0 0 0 0 -2zm14 0a1 1 0 1 0 0 2a1 1 0 0 0 0 -2z" fill="currentColor" stroke-width="0"></path>
					</svg>
					Won Tournaments
					<span class="text-truncate" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: #fcbf49;margin-left: 0px;max-width: 246px;" title="#Wontournaments">
						{{ profile.get_won_tournaments }}
					</span>
				</h4>
				<h4 class="text-nowrap d-flex justify-content-start align-items-center justify-content-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start" style="margin-top: 15px;margin-bottom: 15px;width: 100%;">
					<svg class="icon icon-tabler icon-tabler-flame" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 35px;margin-left: 15px;margin-right: 15px;color: var(--bs-red);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M12 12c2 -2.96 0 -7 -1 -8c0 3.038 -1.773 4.741 -3 6c-1.226 1.26 -2 3.24 -2 5a6 6 0 1 0 12 0c0 -1.532 -1.056 -3.94 -2 -5c-1.786 3 -2.791 3 -4 2z"></path>
					</svg>
					Best Winning Streak
					<span class="text-truncate" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" style="color: var(--bs-red);margin-left: 0px;max-width: 246px;" title="#Streak">
						{{ profile.get_winning_streak }}
					</span>
				</h4>
			</div>
		</div>
	</div>
</div>
{% endif %}
<script src="{% static '/bootstrap/js/bootstrap.min.js' %}">
</script>
<script src="{% static '/js/bs-init.js' %}">
</script>
{% endblock %}
