{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Settings" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
{% include "notifs/notifications.html" %}
<div class="container">
    <div class="row d-xxl-flex" style="height: 105px;">
        <div class="col-md-12 d-flex d-sm-flex d-md-flex d-xxl-flex justify-content-center align-items-start justify-content-sm-center align-items-sm-start justify-content-md-center align-items-md-start justify-content-xxl-center align-items-xxl-start" style="padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px;margin-top: 0px;height: 100%;text-shadow: 0px 0px 4px var(--bs-body-bg);">
            <div>
                <h1 class="fw-normal text-center d-flex d-sm-flex d-md-flex d-lg-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);height: 75px;width: 365.719px;margin-top: 0px;margin-bottom: 0px;">
                    {% translate 'Settings' %}
                    <svg class="icon icon-tabler icon-tabler-settings" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="margin-left: 10px;margin-right: 10px;color: var(--bs-gray-600);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"></path>
                        <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                    </svg>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container flex-column" style="height: 100%;">
    <div class="row d-flex d-md-flex align-items-start justify-content-md-center align-items-md-center align-items-xl-start align-items-xxl-start" style="height: 100%;margin-top: 0px;margin-bottom: 0px;">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-5 col-xxl-4 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;padding-left: 12px;padding-right: 12px;">
            <div class="d-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="background: linear-gradient(-45deg, rgb(0,0,0) 0%, rgba(255,255,255,0) 54%, rgb(0,0,0) 99%), var(--bs-body-color);width: 100%;height: 765px;backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);color: var(--bs-body-bg);border-radius: 28px;box-shadow: 0px 0px 6px 2px var(--bs-gray-500);border: 5px solid var(--bs-body-color);max-height: 765px;">
                <div style="width: 100%;height: 100%;margin-bottom: 21px;">
                    <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="border-style: none;margin-bottom: 0px;margin-top: 0px;">
                        <h1 class="fs-4" style="margin-bottom: 0px;color: var(--bs-body-bg);margin-top: 15px;">
                            {% translate 'Profile Card' %}
                        </h1>
                    </div>
                    <div class="d-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="background: rgba(0,0,0,0);width: 100%;height: 90%;margin-top: 0px;margin-bottom: 0px;">
                        <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 160px;background: var(--bs-body-bg);height: 160px;padding-bottom: 0px;padding-top: 0px;box-shadow: 0px 0px 6px 6px var(--bs-body-bg);border-radius: 50%;border: 0px none var(--bs-secondary-text-emphasis);margin-bottom: 30px;margin-top: 28px;">
                            <img height="166" src="{{ profile.get_avatar_url }}" style="height: 100%;width: 100%;border-radius: 50%;" width="169"/>
                        </div>
                        <div class="d-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 70%;">
                            <form id="changeAliasForm" class="d-flex d-xxl-flex justify-content-center justify-content-xxl-center align-items-xxl-center" action="/api/profiles/me/alias/" method="post" style="width: 100%;background: var(--bs-body-bg);border-radius: 5px;">
                                <input name="alias" class="form-control" maxlength="20" placeholder="{{ profile.alias }}" style="background: var(--bs-body-bg);color: var(--bs-emphasis-color);border-style: none;border-top-right-radius: 0px;border-bottom-right-radius: 0px;margin-left: 0px;" type="text"/>
                                <button class="btn btn-primary d-flex d-xxl-flex align-items-center justify-content-xxl-center align-items-xxl-center" style="background: var(--bs-btn-disabled-color);height: 100%;width: 45px;border-style: none;padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 11px;" type="submit">
                                    <svg class="icon icon-tabler icon-tabler-pencil" fill="none" height="1em" id="modifyIcon" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 36px;border-top-right-radius: 6px;border-bottom-right-radius: 6px;color: var(--bs-emphasis-color);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                        <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"></path>
                                        <path d="M13.5 6.5l4 4"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <span class="d-none d-xxl-none" id="changeAliasErrorMsg" style="color: #f74902;margin-top: 15px;margin-bottom: 0px;text-align: center;">
                            {% translate 'This user alias is already taken, try another one' %}
                        </span>
                    </div>
                </div>
                <div class="d-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 95%;height: 100%;background: var(--bs-secondary-text-emphasis);border-radius: 28px;margin: 0px;margin-top: 0px;margin-bottom: 10px;padding-top: 21px;padding-bottom: 21px;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 95%;backdrop-filter: blur(100px);-webkit-backdrop-filter: blur(100px);border-radius: 15px;border: 0px solid var(--bs-secondary-color);margin-top: 0px;margin-bottom: 0px;">
                        <h1 class="fs-5 d-flex justify-content-center align-items-center" style="margin-bottom: 0px;color: var(--bs-body-bg);">
                            {% translate 'Avatars' %}
                        </h1>
                    </div>
                    <section class="d-flex justify-content-center align-items-center justify-content-sm-center justify-content-xxl-center" style="height: 100%;width: 100%;margin-bottom: -1px;margin-top: 0px;">
                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100px;height: 99px;border-radius: 0px;margin-left: 6px;margin-right: 0px;">
                            <a class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" href="/api/profiles/me/avatar/?id=1" id="changeAvatar1">
                                <img class="img-fluid" src="{% static 'img/avatar1.webp' %}" style="border-radius: 50%;width: 90%;height: 90%;border-style: solid;border-color: var(--bs-body-bg);"/>
                            </a>
                        </div>
                        <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100px;height: 99px;border-radius: 0px;margin-left: 6px;margin-right: 0px;">
                            <a class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" href="/api/profiles/me/avatar/?id=2" id="changeAvatar2">
                                <img class="d-xxl-flex img-fluid" src="{% static 'img/avatar2.webp' %}" style="border-radius: 50%;width: 90%;height: 90%;border-style: solid;border-color: var(--bs-body-bg);"/>
                            </a>
                        </div>
                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100px;height: 99px;border-radius: 0px;margin-left: 6px;padding-right: 0px;margin-right: 0px;">
                            <a class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" href="/api/profiles/me/avatar/?id=3" id="changeAvatar3">
                                <img class="d-xxl-flex img-fluid" src="{% static 'img/avatar3.webp' %}" style="border-radius: 50%;width: 90%;height: 90%;border-style: solid;border-color: var(--bs-body-bg);"/>
                            </a>
                        </div>
                    </section>
                    <section class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;width: 100%;margin-top: 0px;margin-bottom: 0px;">
                        <div class="d-flex d-sm-flex d-md-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xxl-center align-items-xxl-center" style="width: 100px;height: 99px;border-radius: 0px;margin-left: 6px;margin-right: 0px;">
                            <a class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" href="/api/profiles/me/avatar/?id=4" id="changeAvatar4">
                                <img class="d-md-flex d-xxl-flex img-fluid" src="{% static 'img/avatar4.webp' %}" style="border-radius: 50%;width: 90%;height: 90%;border-style: solid;border-color: var(--bs-body-bg);"/>
                            </a>
                        </div>
                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100px;height: 99px;border-radius: 0px;margin-left: 6px;margin-right: 0px;">
                            {% if profile.user.fortytwo_avatar_url %}
                            <a class="d-flex justify-content-center align-items-sm-center" href="/api/profiles/me/avatar/?id=fortytwo" id="changeAvatarFortytwo">
                                <img class="d-xxl-flex img-fluid" src="{{ profile.user.fortytwo_avatar_url }}" style="border-radius: 50%;width: 90%;height: 90%;border-style: solid;border-color: var(--bs-body-bg);"/>
                            </a>
                            {% else %}
                            <a class="d-flex justify-content-center align-items-sm-center" href="/api/oauth/42/login/">
                                <img class="d-xxl-flex img-fluid" src="{% static '/img/42.webp' %}" style="border-radius: 50%;width: 90%;height: 90%;border-style: solid;border-color: var(--bs-body-bg);"/>
                            </a>
                            {% endif %}
                        </div>
                        <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 92px;height: 91px;border-radius: 50%;margin-left: 6px;padding-right: 0px;margin-right: 0px;border-style: solid;border-color: var(--bs-body-bg);">
                            <label class="form-label d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="photoUpload" style="width: 90%;height: 90%;margin-bottom: 0px;">
                                <input accept="image/*" id="uploadAvatarInput" type="file">
                                    <svg class="icon icon-tabler icon-tabler-photo-plus" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 45px;color: var(--bs-body-bg);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                        <path d="M15 8h.01"></path>
                                        <path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5"></path>
                                        <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4"></path>
                                        <path d="M14 14l1 -1c.67 -.644 1.45 -.824 2.182 -.54"></path>
                                        <path d="M16 19h6"></path>
                                        <path d="M19 16v6"></path>
                                    </svg>
                                </input>
                            </label>
                        </div>
                    </section>
                </div>
                <span class="d-none d-xxl-none" id="uploadAvatarErrorMsg" style="color: #f74902;text-align: center;margin-top: 0px;margin-bottom: 10px;">
                    {% translate 'Your image must not exceed 500KB in size and 1024x1024 in dimensions' %}
                </span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-7 col-xxl-4 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;padding-left: 12px;padding-right: 12px;">
            <div class="d-flex d-sm-flex flex-column justify-content-sm-center align-items-sm-center" style="border-radius: 28px;background: linear-gradient(-51deg, rgba(0,0,0,0) 0%, var(--bs-emphasis-color) 5%, rgba(255,255,255,0) 100%), var(--bs-body-color);width: 100%;height: 765px;filter: blur(0px);backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);box-shadow: 0px 0px 6px 2px var(--bs-gray-400);border: 5px solid var(--bs-body-color);max-height: 765px">
                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center" style="height: 50px;width: 100%;margin-top: 0px;position: relative;color: #ffffff;border-radius: 22px;margin-bottom: 0px;">
                    <h1 class="fs-4 d-flex justify-content-center align-items-center" style="margin-bottom: 0px;color: var(--bs-body-bg);border-radius: 0px;">
                        {% translate 'Account' %}
                    </h1>
                </div>
                <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="height: 80%;width: 100%;">
                    <div class="d-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center section-wrapper" style="padding-left: 11px;padding-right: 11px;height: 100%;background: var(--bs-secondary-text-emphasis);border-radius: 18px;width: 100%;padding-top: 0px;padding-bottom: 0px;margin-left: 40px;margin-right: 40px;filter: blur(0px);backdrop-filter: blur(0px);-webkit-backdrop-filter: blur(0px);border-width: 2px;border-color: var(--bs-body-color);margin-top: 36px;margin-bottom: 36px;">
                        <section class="d-flex flex-column justify-content-center align-items-start align-items-xxl-start" id="templateNormalAcc" style="width: 100%;height: 100%;background: rgba(0,0,0,0.15);border-radius: 10px;margin-top: 10px;margin-bottom: 10px;margin-left: 5px;margin-right: 5px;">
                            <div class="text-truncate d-flex flex-column justify-content-center align-items-start align-items-sm-start align-items-xxl-start" style="width: 100%;height: 100%;margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;">
                                <div style="margin-bottom: 15px;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;width: 100%;">
                                    <h1 class="fs-5 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center justify-content-xxl-start" style="width: 100%;color: var(--bs-body-bg);margin-top: 0px;margin-bottom: 0px;">
                                        <svg class="icon icon-tabler icon-tabler-user-circle" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="margin-right: 5px;color: var(--bs-body-bg);font-size: 24px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                            <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                            <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                                        </svg>
                                        {% translate 'Username' %}
                                    </h1>
                                    <span class="text-truncate d-sm-flex" id="playerUsername" style="color: #5d9dfb;font-size: 14px;font-weight: bold;margin-top: 0px;">
                                        {{ profile.user.username }}
                                    </span>
                                </div>
                                <div style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 15px;width: 100%;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
                                    <h1 class="fs-5 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start justify-content-xl-start justify-content-xxl-start" style="width: 100%;margin-top: -3px;color: var(--bs-body-bg);margin-bottom: 0px;">
                                        <svg class="icon icon-tabler icon-tabler-cake" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="margin-right: 5px;font-size: 24px;color: var(--bs-body-bg);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                            <path d="M3 20h18v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8z"></path>
                                            <path d="M3 14.803c.312 .135 .654 .204 1 .197a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1c.35 .007 .692 -.062 1 -.197"></path>
                                            <path d="M12 4l1.465 1.638a2 2 0 1 1 -3.015 .099l1.55 -1.737z"></path>
                                        </svg>
                                        {% translate 'Account created on' %}
                                    </h1>
                                    <span class="text-truncate d-sm-flex" id="accountCreationTime" style="color: #5d9dfb;font-size: 14px;font-weight: bold;">
                                        {{ profile.user.date_joined }}
                                    </span>
                                </div>
                                <div style="margin-bottom: 15px;width: 100%;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
                                    <h1 class="fs-5 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-center align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center justify-content-xxl-start" style="width: 100%;margin-top: -3px;color: var(--bs-body-bg);margin-bottom: 0px;">
                                        <svg class="icon icon-tabler icon-tabler-mail" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="margin-right: 5px;color: var(--bs-body-bg);font-size: 24px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                            <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"></path>
                                            <path d="M3 7l9 6l9 -6"></path>
                                        </svg>
                                        {% translate 'Email' %}
                                    </h1>
                                    <span class="text-truncate d-sm-flex" id="playerCurrentMail" style="color: #5d9dfb;font-size: 14px;font-weight: bold;">
                                        {{ profile.user.email }}
                                    </span>
                                </div>
                                <button id="changeEmailBtn" class="btn btn-primary link-info d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center align-items-md-center" style="background: #21252900;border-radius: 15px;border-style: none;border-color: var(--bs-highlight-color);" type="submit">
                                    {% translate 'Modify Email' %}
                                </button>
                                <button id="changePasswordBtn" class="btn btn-primary link-info d-sm-flex d-md-flex justify-content-sm-center justify-content-md-center align-items-md-center" style="background: #21252900;border-radius: 15px;border-style: none;border-color: var(--bs-highlight-color);" type="submit">
                                    {% translate 'Modify Password' %}
                                </button>
                            </div>
                        </section>
                        <section class="d-flex justify-content-center align-items-center" id="templateSecNormalAcc" style="width: 100%;height: 100%;background: rgba(0,0,0,0.15);border-radius: 10px;margin-top: 10px;margin-bottom: 10px;margin-left: 5px;margin-right: 5px;padding-top: 0px;padding-bottom: 0px;">
                            <div class="d-flex flex-column justify-content-center align-items-start align-items-sm-start" style="width: 100%;height: 100%;margin-top: 0px;margin-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 5px;">
                                <div class="text-truncate" style="margin-right: 10px;width: 100%;margin-left: 0px;margin-bottom: 25px;padding-left: 10px;padding-right: 10px;">
                                    <h1 class="fs-5 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center justify-content-xxl-start" style="color: var(--bs-body-bg);margin-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                                        <svg class="icon icon-tabler icon-tabler-shield-lock" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: var(--bs-body-bg);font-size: 24px;margin-right: 5px">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"></path>
                                            <path d="M12 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            <path d="M12 12l0 2.5"></path>
                                        </svg>
                                        {% translate 'Two-Factor Authentication' %}
                                    </h1>
                                    {% if profile.user.has_twofa %}
                                    <div class="text-truncate d-flex d-xxl-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="templateFtLink" style="width: 100%;">
                                        <div style="width: 100%;height: 100%;">
                                            <span class="text-truncate d-flex d-sm-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="ftLink" style="color: var(--bs-success);font-size: 16px;margin-top: 0px;width: 100%;height: 100%;">
                                                {% translate 'Enabled' %}
                                                <svg class="icon icon-tabler icon-tabler-shield-lock" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: rgb(139,210,24);font-size: 24px;margin-right: 5px; margin-left: 5px">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"></path>
                                                    <path d="M12 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M12 12l0 2.5"></path>
                                                </svg>
                                            </span>
                                        </div>
                                        <a id="disableTwoFaBtn" class="btn btn-primary d-flex d-md-flex d-xxl-flex justify-content-end align-items-center align-items-md-center align-items-xxl-center" style="background: rgba(13,110,253,0);color: rgb(13,202,240);border-style: none;">
                                            {% translate 'Disable 2FA' %}
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="text-truncate d-flex d-xxl-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="templateFtNotLink" style="width: 100%;">
                                        <div style="width: 100%; height: 100%;">
                                            <span class="text-truncate d-flex d-sm-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="ftNotLinked" style="color: var(--bs-danger);font-size: 16px;margin-top: 0px;width: 100%;">
                                                {% translate 'Disabled' %}
                                            </span>
                                        </div>
                                        <a class="btn btn-primary d-flex d-xxl-flex justify-content-end align-items-center justify-content-xxl-end align-items-xxl-center" style="background: rgba(13,110,253,0);color: rgb(13,202,240);border-style: none;" data-bs-target="#modalTwofaEnable" data-bs-toggle="modal">
                                            {% translate 'Enable 2FA' %}
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="text-truncate" style="margin-right: 10px;width: 100%;margin-left: 0px;margin-bottom: 25px;padding-left: 10px;padding-right: 10px;">
                                    <h1 class="fs-5 d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex align-items-sm-center justify-content-md-start align-items-md-center justify-content-lg-start align-items-lg-center justify-content-xl-start align-items-xl-center justify-content-xxl-start" style="color: var(--bs-body-bg);margin-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                                        <svg class="icon icon-tabler icon-tabler-link" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 24px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                            <path d="M9 15l6 -6"></path>
                                            <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path>
                                            <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path>
                                        </svg>
                                        {% translate 'Link with 42' %}
                                    </h1>
                                    {% if profile.user.fortytwo_avatar_url %}
                                    <div class="text-truncate d-flex d-xxl-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="templateFtLink" style="width: 100%;">
                                        <div style="width: 100%;height: 100%;">
                                            <span class="text-truncate d-flex d-sm-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="ftLink" style="color: var(--bs-body-bg);font-size: 16px;margin-top: 0px;width: 100%;height: 100%;">
                                                {% translate 'Linked' %}
                                                <svg class="icon icon-tabler icon-tabler-check" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 24px;color: rgb(139,210,24);margin-left: 5px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                                    <path d="M5 12l5 5l10 -10"></path>
                                                </svg>
                                            </span>
                                        </div>
                                        <a class="btn btn-primary d-flex d-md-flex d-xxl-flex justify-content-end align-items-center align-items-md-center align-items-xxl-center" data-bs-target="#modalUnlinkFt" data-bs-toggle="modal" style="background: rgba(13,110,253,0);color: rgb(13,202,240);border-style: none;">
                                            {% translate 'Unlink account' %}
                                        </a>
                                    </div>
                                    {% else %}
                                    <div class="text-truncate d-flex d-xxl-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="templateFtNotLink" style="width: 100%;">
                                        <div style="width: 100%; height: 100%;">
                                            <span class="text-truncate d-flex d-sm-flex justify-content-start align-items-center justify-content-xxl-start align-items-xxl-center" id="ftNotLinked" style="color: var(--bs-body-bg);font-size: 16px;margin-top: 0px;width: 100%;">
                                                {% translate 'Not Linked' %}
                                                <svg class="icon icon-tabler icon-tabler-x" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 24px;color: rgb(210,24,24);margin-left: 5px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                                                    <path d="M18 6l-12 12"></path>
                                                    <path d="M6 6l12 12"></path>
                                                </svg>
                                            </span>
                                        </div>
                                        <a class="btn btn-primary d-flex d-xxl-flex justify-content-end align-items-center justify-content-xxl-end align-items-xxl-center" href="/api/oauth/42/login/" style="background: rgba(13,110,253,0);color: rgb(13,202,240);border-style: none;">
                                            {% translate 'Link to 42' %}
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div style="width: 100%;">
                                    <h1 class="fs-5 d-flex align-items-center justify-content-center" style="color: var(--bs-body-bg);margin-bottom: 0px;padding-left: 0px;padding-right: 0px;">
                                        {% translate 'Prefered Language' %}
                                        <svg class="icon icon-tabler icon-tabler-world" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="width: 24px;height: 24px; margin-left: 5px">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                            <path d="M3.6 9h16.8"></path>
                                            <path d="M3.6 15h16.8"></path>
                                            <path d="M11.5 3a17 17 0 0 0 0 18"></path>
                                            <path d="M12.5 3a17 17 0 0 1 0 18"></path>
                                        </svg>
                                        <span class="text-uppercase">{{ profile.default_lang }}</span>
                                    </h1>
                                    <div class="d-flex flex-row justify-content-center align-items-center" style="margin-top: 0px;">
                                        {% get_available_languages as LANGUAGES %}
                                        {% for lang in LANGUAGES %}
                                        <a class="text-uppercase" style="margin-top: 5px; margin-left: 5px;margin-right: 5px; text-decoration: none; cursor: pointer;" id="changeDefaultLang_{{ lang.0 }}">
                                            {{ lang.0 }}
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="d-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-danger text-nowrap d-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" type="button" style="width: 195.484px;margin-right: 0px;border-radius: 9px;margin-top: 5px;margin-bottom: 5px;padding-top: 7px;padding-bottom: 7px;" data-bs-target="#modalDeleteAcc" data-bs-toggle="modal">
                        {% translate 'Delete my account' %}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-7 col-xxl-4" style="height: 100%;max-height: 765px;">
            <div style="border-radius: 28px;background: linear-gradient(-51deg, rgb(0,0,0) 0%, black 12%, rgba(255,255,255,0)), var(--bs-body-color);filter: blur(0px);backdrop-filter: blur(0px);box-shadow: 0px 0px 6px 2px var(--bs-gray-400);border: 5px solid var(--bs-body-color);">
                <div class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center" style="position: relative;color: #ffffff;border-radius: 22px;width: 100%;">
                    <h1 class="fs-4 d-flex justify-content-center align-items-center" style="margin-bottom: 0px;color: #af1e2d;font-weight: bold;padding-top: 10px;padding-bottom: 10px;">
                        {% translate 'Block List' %}
                        <svg class="icon icon-tabler icon-tabler-ban" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 29px;margin-left: 10px;margin-right: 10px;">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M5.7 5.7l12.6 12.6"></path>
                        </svg>
                    </h1>
                </div>
                <div class="overflow-auto" style="height: 100%;max-height: 765px;">
                    {% if profile.get_blocked_profiles %}
                    {% for profile_block in profile.get_blocked_profiles %}
                    <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="background: var(--bs-gray-800); border-radius: 28px;">
                        <div class="d-flex justify-content-xxl-center" style="width: 20%;height: 100%;padding-top: 10px;padding-bottom: 10px;">
                            <div style="width: 50px;height: 50px;padding-top: 0px;padding-bottom: 0px;">
                                <img style="width: 100%;height: 100%;border-radius: 50%;" src="{{ profile_block.blocked.get_avatar_url }}" />
                            </div>
                        </div>
                        <div class="text-truncate d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 60%;height: 100%;color: var(--bs-body-bg);">
                            <h1 class="text-truncate fs-3" style="color: var(--bs-body-bg);margin-bottom: 0px;padding-bottom: 0px;">
                                {{ profile_block.blocked.alias }}
                            </h1>
                        </div>
                        <div class="d-flex justify-content-center align-items-center" style="width: 20%;height: 100%;border-bottom-style: none;">
                            <button data-block-id="{{ profile_block.id }}" class="remove-block-btn btn btn-primary d-flex justify-content-center align-items-center" type="button" style="background: rgba(13,110,253,0);border-style: none;">
                                <svg data-bs-container="div" class="icon icon-tabler icon-tabler-minus text-danger" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="right" style="border-bottom-style: none;font-size: 40px;color: rgb(253,13,13);" title="Unblock">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M5 12l14 0"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div id="templatEmpty" class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 85px;border-bottom-style: solid;border-radius: 19px;">
                        <div class="text-truncate d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;color: var(--bs-body-bg);border-radius: 6px;">
                            <h1 class="text-truncate fs-3" style="color: var(--bs-light-text-emphasis);margin-bottom: 0px;font-weight: bold;">
                                {% translate 'BLOCK LIST IS EMPTY' %}
                            </h1>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDeleteAcc" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="margin-bottom: 1px;padding-bottom: 0px;">
                    <svg class="icon icon-tabler icon-tabler-trash" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="margin-left: 10px;margin-right: 10px;font-size: 40px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M4 7l16 0"></path>
                        <path d="M10 11l0 6"></path>
                        <path d="M14 11l0 6"></path>
                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                    </svg>
                    {% translate 'Delete account' %}
                </h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body" style="border-style: none;">
                <p style="font-weight: bold;margin-bottom: 10px;">
                    {% translate 'Are you sure you want to delete your account ?' %}
                    <br/>
                    {% translate 'By doing so, you will not be able to :' %}
                </p>
                <ul>
                    <li>
                        {% translate 'Play against other people online' %}
                    </li>
                    <li>
                        {% translate 'Access your profile and other players profile' %}
                    </li>
                    <li>
                        {% translate 'Access the leaderboard and view player rankings' %}
                    </li>
                    <li>
                        {% translate 'Add friends and use the chat' %}
                    </li>
                </ul>
                <p style="font-weight: bold;margin-bottom: 10px;">
                    {% translate 'This action will also delete all of your data including :' %}
                </p>
                <ul>
                    <li>
                        {% translate 'Your profile (Avatar, Nickname, Username)' %}
                    </li>
                    <li>
                        {% translate 'Your conversations and your friend list' %}
                    </li>
                    <li>
                        {% translate 'Your ranking and your games history' %}
                    </li>
                </ul>
                <p style="font-weight: bold;margin-bottom: 0px;">
                    <svg class="icon icon-tabler icon-tabler-info-circle" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;margin-left: 5px;margin-right: 5px;margin-top: 0px;margin-bottom: 0px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                        <path d="M12 9h.01"></path>
                        <path d="M11 12h1v4h1"></path>
                    </svg>
                    {% translate 'If you had linked your account to 42, this will also undo the link.' %}
                </p>
                <p class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="font-weight: bold;margin-bottom: 0px;">
                    <svg class="icon icon-tabler icon-tabler-alert-triangle-filled" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 30px;margin-right: 10px;color: rgb(247,160,58);" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M12 1.67c.955 0 1.845 .467 2.39 1.247l.105 .16l8.114 13.548a2.914 2.914 0 0 1 -2.307 4.363l-.195 .008h-16.225a2.914 2.914 0 0 1 -2.582 -4.2l.099 -.185l8.11 -13.538a2.914 2.914 0 0 1 2.491 -1.403zm.01 13.33l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007zm-.01 -7a1 1 0 0 0 -.993 .883l-.007 .117v4l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4l-.007 -.117a1 1 0 0 0 -.993 -.883z" fill="currentColor" stroke-width="0"></path>
                    </svg>
                    {% translate 'This action is not reversible' %}
                </p>
            </div>
            <div class="modal-footer d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-bottom-style: none;">
                <button class="btn btn-primary" data-bs-target="#modalConfirmDelete" data-bs-toggle="modal" style="background: #a92835;text-shadow: 2px 2px 3px rgb(0,0,0);border-style: none;border-bottom-style: none;" type="button">
                    {% translate 'Proceed' %}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalConfirmDelete" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {% translate 'Confirm Delete' %}
                </h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <form id="deleteAccountForm" action="/api/profiles/me/">
                <div class="modal-body">
                    <p class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="font-size: 1em;">
                        {% translate 'Please enter your password to confirm your account deletion' %}
                    </p>
                    <div class="mb-3 form-floating">
                        <input class="form-control form-control form-control" id="floatingPassword-register" maxlength="254" minlength="6" name="password" placeholder=" " required="" type="password"/>
                        <label class="form-label" for="floatingMail-register">
                            {% translate 'Password' %}
                        </label>
                        <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center d-none d-xxl-none" id="deleteAccountErrorMsg">
                            <p style="color: #e8112d;font-size: 1em;">
                                {% translate 'Wrong credentials. Please try again' %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-light" data-bs-dismiss="modal" type="button">
                        {% translate 'Cancel' %}
                    </button>
                    <button class="btn btn-primary" style="background: #a92835;border-style: none;" type="submit">
                        {% translate 'Confirm' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTwofaEnable" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title d-flex d-xxl-flex justify-content-center align-items-center align-items-xxl-center">
                    <svg class="icon icon-tabler icon-tabler-shield-lock" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="color: black;font-size: 40px;margin-right: 5px">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3"></path>
                        <path d="M12 11m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M12 12l0 2.5"></path>
                    </svg>
                    {% translate 'Enable Two Factor Authentication ?' %}
                </h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>
                        {% translate 'Two Factor Authentication will add a security layer to your account by sending you a code via email each time you want to log in. Do you want to enable it ?' %}
                    </strong>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" type="button">
                    {% translate 'Cancel' %}
                </button>
                <a class="btn btn-primary" data-bs-dismiss="modal" id="enableTwoFaBtn">
                    {% translate 'Activate 2FA' %}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalUnlinkFt" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title d-flex d-xxl-flex justify-content-center align-items-center align-items-xxl-center">
                    <svg class="icon icon-tabler icon-tabler-unlink" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="margin-left: 10px;margin-right: 10px;font-size: 40px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
                        <path d="M17 22v-2"></path>
                        <path d="M9 15l6 -6"></path>
                        <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path>
                        <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path>
                        <path d="M20 17h2"></path>
                        <path d="M2 7h2"></path>
                        <path d="M7 2v2"></path>
                    </svg>
                    {% translate 'Unlink 42 account' %}
                </h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>
                        {% translate 'Unlinking your 42 account will result in these changes:' %}
                    </strong>
                </p>
                <ul style="margin-bottom: 0px;">
                    <li>
                        {% translate 'You will not be able to connect using 42 auth on login page.' %}
                    </li>
                    <li>
                        {% translate 'You will not be able to use your 42 banner and profile image.' %}
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal" type="button">
                    {% translate 'Cancel' %}
                </button>
                <a class="btn btn-primary" data-bs-dismiss="modal" href="/api/oauth/42/unlink/" id="unlinkFortytwo">
                    {% translate 'Unlink' %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
