{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Social" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="container">
	<div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center">
		<div class="col-md-12 d-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="padding-top: 1px;">
			<div class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center">
				<h1 class="d-xl-flex justify-content-xl-center align-items-xl-center align-items-xxl-center" style="color: var(--bs-body-bg);border-radius: 10px;margin-bottom: 50px;border-style: none;text-shadow: 0px 0px 4px;">
					{% translate 'Social' %}
					<svg class="icon icon-tabler icon-tabler-message-chatbot" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
						<path d="M9.5 9h.01"></path>
						<path d="M14.5 9h.01"></path>
						<path d="M9.5 13a3.5 3.5 0 0 0 5 0"></path>
					</svg>
				</h1>
			</div>
		</div>
	</div>
</div>
<div class="container" style="height:100%;">
	<div class="row d-sm-flex justify-content-sm-center" style="height:700px;">
		<div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 col-xxl-3 d-sm-flex flex-column" style="height: 100%;margin-top: 0px;margin-bottom: 10px;padding-left: 12px;padding-right: 12px;">
			<div class="d-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="border-radius: 0px;color: var(--bs-body-bg);background: #2b7050;border-top-left-radius: 19px;border-top-right-radius: 19px;height: 45px;box-shadow: 0px 0px 6px 2px #2b7050;">
				<h1 class="text-truncate fs-4 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-bottom: 2px;text-shadow: 2px 2px var(--bs-emphasis-color);width: 180px;">
					{% translate 'Friends' %}
					<svg class="icon icon-tabler icon-tabler-users" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;margin-left: 5px;margin-right: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
						<path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
						<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
						<path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
					</svg>
				</h1>
			</div>
			<div class="d-xl-flex flex-column flex overflow-auto" id="friend-list" style="width: 100%;height: 100%;margin-top: 0px;background: var(--bs-body-color);border-bottom-right-radius: 19px;border-bottom-left-radius: 19px;margin-bottom: 0px;box-shadow: 0px 0px 6px 2px #2b7050;">
				<div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 45px;padding-top: 5px;padding-bottom: 5px;border-radius: 20px;border: 1px none var(--bs-gray-400);background: var(--bs-emphasis-color);border-top-left-radius: 0px;border-top-right-radius: 0px;padding-left: 0px;padding-right: 0px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;margin-bottom: 0px;">
					<input placeholder="{% translate 'Search for a friend' %}" style="width: 80%;height: 100%;background: var(--bs-emphasis-color);border-style: none;color: var(--bs-body-bg);margin-left: 0px;" type="text"/>
					<svg class="icon icon-tabler icon-tabler-search" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 30px;color: var(--bs-gray-400);margin-left: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
						<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
						<path d="M21 21l-6 -6"></path>
					</svg>
				</div>
				{% for friend in friends %}
				{% if friend.status == 'Online' %}
				<!-- TODO: change background of selected user with this rule , background: #102c1f -->
				<a class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" href="#" style="width: 100%;height: 85px;border-style: none;">
					<div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-start align-items-lg-center align-items-xl-center justify-content-xxl-start" id="frienditemOnline" style="height: 85px;width: 100%;border-radius: 0px;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
						<div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 40%;margin-top: 0px;position: sticky;">
							<div style="width: 60px;height: 60px;">
								<img height="60" src="{{ friend.avatar.url }}" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;box-shadow: 0px 0px 6px 1px rgb(51,255,0);border: 2px solid rgb(51,255,0) ;" width="60"/>
							</div>
							{% if friend.has_unread_messages %}
							<div style="width:10px;height:10px;background:#ff0000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
							</div>
							{% else %}
							<div style="width:10px;height:10px;background:#ff000000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
							</div>
							{% endif %}
						</div>
						<div class="text-truncate d-flex d-sm-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-start" style="width: 100%;height: 100%;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;">
							<h1 class="text-truncate fs-5" id="friend-id" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;width: 100%;font-weight: bold;">
								{{ friend.alias }}
							</h1>
							<h1 class="text-truncate fs-6" id="friend-id-2" style="color: var(--bs-gray-500);margin-bottom: 0px;margin-top: 0px;width: 100%;">
								{% if friend.get_last_message %}
								{{ friend.get_last_speaker }}: {{ friend.get_last_message }}
								{% endif %}
							</h1>
						</div>
					</div>
				</a>
				{% elif friend.status == 'Playing' %}
				<a class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" href="#" style="width: 100%;height: 85px;border-style: none;">
					<div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-start align-items-lg-center align-items-xl-center justify-content-xxl-start" id="friendItemPlaying" style="height: 85px;width: 100%;border-radius: 0px;background: var(--bs-body-color);margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
						<div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 40%;margin-top: 0px;position: sticky;">
							<div style="width: 60px;height: 60px;">
								<img height="60" src="assets/img/icon5.webp" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;border: 2px solid var(--bs-orange);box-shadow: 0px 0px 6px 2px var(--bs-orange);" width="60"/>
							</div>
							{% if friend.has_unread_messages %}
							<div style="width:10px;height:10px;background:#ff0000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
							</div>
							{% else %}
							<div style="width:10px;height:10px;background:#ff000000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
							</div>
							{% endif %}
						</div>
						<div class="text-truncate d-flex d-sm-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-start" style="width: 100%;height: 100%;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;">
							<h1 class="text-truncate fs-5" id="friendPlayingId" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;width: 100%;font-weight: bold;">
								{{ friend.alias }}
							</h1>
							<h1 class="text-truncate fs-6" id="friendPlayingMsg" style="color: var(--bs-gray-500);margin-bottom: 0px;margin-top: 0px;width: 100%;">
								{% if friend.get_last_message %}
								{{ friend.get_last_speaker }}: {{ friend.get_last_message }}
								{% endif %}
							</h1>
						</div>
					</div>
				</a>
				{% else %}
				<a class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" href="#" style="width: 100%;height: 85px;border-style: none;">
					<div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-start align-items-lg-center align-items-xl-center justify-content-xxl-start" id="friendItemOffline" style="height: 85px;width: 100%;border-radius: 0px;background: var(--bs-body-color);margin-left: 0px;margin-right: 0px;opacity: 0.50;padding-left: 10px;padding-right: 10px;">
						<div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 40%;margin-top: 0px;position: sticky;">
							<div style="width: 60px;height: 60px;">
								<img height="60" src="assets/img/Icontry.webp" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;border: 2px none rgb(51,255,0);opacity: 1;" width="60"/>
							</div>
							{% if friend.has_unread_messages %}
							<div style="width:10px;height:10px;background:#ff0000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
							</div>
							{% else %}
							<div style="width:10px;height:10px;background:#ff000000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
							</div>
							{% endif %}
						</div>
						<div class="text-truncate d-flex d-sm-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-start" style="width: 100%;height: 100%;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;">
							<h1 class="text-truncate fs-5" id="friendOfflineId" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;width: 100%;font-weight: bold;">
								{{ friend.alias }}
							</h1>
							<h1 class="text-truncate fs-6" id="friendOfflineMsg" style="color: var(--bs-gray-500);margin-bottom: 0px;margin-top: 0px;width: 100%;">
								{% if friend.get_last_message %}
								{{ friend.get_last_speaker }}: {{ friend.get_last_message }}
								{% endif %}
							</h1>
						</div>
					</div>
				</a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="col-sm-12 col-md-7 col-lg-6 col-xl-7 col-xxl-7 d-flex flex-column" style="height: 100%;margin-left: 0px;padding-left: 0px;padding-right: 0px;margin-bottom: 10px;">
			<div class="d-flex d-md-flex d-xl-flex justify-content-start align-items-center align-items-md-center justify-content-lg-start justify-content-xl-start align-items-xl-center justify-content-xxl-start" style="border-radius: 20px;background: #2b7050;border-top-right-radius: 19px;border-bottom-right-radius: 0px;border-top-left-radius: 19px;border-bottom-left-radius: 0px;height: 90px;border-width: 0px;border-bottom: 2px solid var(--bs-body-color);box-shadow: 0px 0px 6px 2px #2b7050;">
				{% if current_friend %}
				<div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 0px;width: 75px;height: 75px;padding-left: 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 15px;margin-right: 15px;">
					<img height="135" src="{{ current_friend.avatar_url }}" style="border-radius: 50%;width: 100%;height: 100%;border-style: none;border-color: rgb(51,255,0);" width="93"/>
				</div>
				<div>
					<h1 class="text-truncate fs-3 d-flex d-xl-flex justify-content-start justify-content-xl-start align-items-xl-center justify-content-xxl-start" id="current-discussion" style="color: var(--bs-body-bg);text-shadow: 2px 2px var(--bs-emphasis-color);font-weight: bold;width: 310px;">
						{{ current_friend.alias }}
					</h1>
					<h1 class="text-truncate fs-5 d-flex d-xl-flex justify-content-start align-items-xl-center" id="current-discussion-1" style="color: var(--bs-body-bg);text-shadow: 2px 2px var(--bs-emphasis-color);width: 100%;">
						{% if current_friend.status == 'Online' %}
						<span class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color:rgb(51,255,0);margin-top:0px;margin-bottom:0px;">
							{% translate 'Online' %}
						</span>
						{% elif current_friend.status == 'Offline' %}
						<span style="color: var(--bs-dark-border-subtle);margin-top: 0px;margin-bottom: 0px;">
							{% translate 'Offline' %}
						</span>
						{% else %}
						<span class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-orange);margin-top: 0px;margin-bottom: 0px;">
							{% translate 'Playing' %}
						</span>
						{% endif %}
					</h1>
				</div>
				{% endif %}
			</div>
			<div class="d-flex d-xl-flex flex-column-reverse overflow-auto" style="background: var(--bs-body-color);padding-top: 0px;margin-left: 0px;margin-top: 0px;height: 585px;width: 100%;box-shadow: 0px 0px 6px 2px #2b7050;">
				<section class="overflow-auto" id="message-list" style="height: 100%;width: 100%;background: linear-gradient(-38deg, rgba(255,255,255,0) 0%, var(--bs-success-text-emphasis) 52%, rgba(255,255,255,0) 100%);">
					{% for message in messages %}
					{% if message.sender != profile %}
					<div class="d-flex d-xxl-flex align-items-end justify-content-xxl-start align-items-xxl-end chatEl" id="templateFriendMsg" style="height: auto;width: 100%;margin-top: 0px;margin-bottom: 0px;">
						<div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 0px;width: 50px;height: 50px;padding-left: 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 15px;margin-right: 10px;">
							<img height="135" src="{{ current_friend.avatar_url }}" style="width: 100%;height: 100%;border-radius: 50%;border-style: none;border-color: var(--bs-body-bg);" width="93"/>
						</div>
						<div class="text-break flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 20px;border-bottom-right-radius: 19px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-left-radius: 0px;font-size: 19px;display: inline-block;max-width: 50%;background: var(--bs-gray-700);margin-bottom: 35px;margin-top: 5px;">
							<div class="d-flex d-xxl-flex justify-content-xxl-center align-items-xxl-center message-wrapper" style="margin-left: 0px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;">
								<p class="wrapbox" style="color: var(--bs-body-bg);width: 100%;margin-bottom: 0px;">
									{{ message.content }}
								</p>
							</div>
							<div class="d-flex d-xl-flex d-xxl-flex justify-content-end justify-content-xl-end justify-content-xxl-end" style="width: 100%;margin-right: 0px;margin-left: 0px;padding-left: 10px;padding-right: 10px;">
								<span style="font-size: 18px;color: rgba(255,255,255,0.5);margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">
									{{ message.created_at }}
								</span>
							</div>
						</div>
					</div>
					{% else %}
					<div class="d-flex d-xxl-flex justify-content-end align-items-center justify-content-xxl-end align-items-xxl-center" id="template-my-msg-1-chatEl" style="height: auto;width: 100%;margin-bottom: 15px;margin-top: 0px;">
						<div class="text-break flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="background: #2b7050;border-radius: 20px;border-bottom-right-radius: 0px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-left-radius: 19px;font-size: 19px;display: inline;max-width: 50%;margin-right: 15px;">
							<div class="d-flex d-xxl-flex justify-content-xxl-center align-items-xxl-center message-wrapper" style="margin-right: 0px;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin-left: 0px;">
								<p class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end wrapbox" style="color: var(--bs-body-bg);width: 100%;text-shadow: 0px 0px 2px var(--bs-emphasis-color);margin-bottom: 0px;">
									{{ message.content }}
								</p>
							</div>
							<div class="d-flex d-xl-flex d-xxl-flex justify-content-end justify-content-xl-end justify-content-xxl-end" style="width: 100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 10px;">
								<span style="font-size: 18px;color: rgba(255,255,255,0.5);margin-bottom: 5px;margin-right: 10px;">
									{{ message.created_at }}
								</span>
								{% if message.read %}
								<span class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="msgRead-1" style="font-size: 18px; margin-bottom: 5px;margin-right: 20px;">
									<svg class="icon icon-tabler icon-tabler-checks" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="color: var(--bs-info);margin-right: 0px;font-size: 24px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
										<path d="M7 12l5 5l10 -10"></path>
										<path d="M2 12l5 5m5 -5l5 -5"></path>
									</svg>
								</span>
								{% else %}
								<span class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="msgSent-1" style="font-size: 18px; margin-bottom: 5px;margin-right: 20px;">
									<svg class="icon icon-tabler icon-tabler-checks" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 24px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
										<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
										<path d="M7 12l5 5l10 -10"></path>
										<path d="M2 12l5 5m5 -5l5 -5"></path>
									</svg>
								</span>
								{% endif %}
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
					{% if messages.count == 0 %}
					<div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="templateSayHi" style="width: 100%;height: 100%;">
						<h1 class="text-center d-md-flex d-xxl-flex align-items-md-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-success-border-subtle);">
							{% translate 'No messages yet, say hi' %} 👋
						</h1>
					</div>
					{% endif %}
					{% if not current_friend %}
					<div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="templateSelectConv" style="width: 100%;height: 100%;">
						<h1 class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-success-border-subtle);">
							{% translate 'Select a conversation' %}
						</h1>
					</div>
					{% endif %}
				</section>
			</div>
			<div class="d-flex flex-row align-items-center justify-content-xxl-start" style="border-radius: 19px;background: #111314;border-top-left-radius: 0px;border-top-right-radius: 0px;height: 70px;border-width: 0px;border-color: var(--bs-body-bg);width: 100%;box-shadow: 0px 0px 6px 2px #2b7050;">
				<div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;">
					<button class="btn btn-primary d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center emojiPick" id="emojiPick" style="background: rgba(13,110,253,0);border-style: none;" type="button">
						<svg class="icon icon-tabler icon-tabler-mood-smile" data-bs-placement="bottom" data-bs-toggle="tooltip" data-bss-tooltip="" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 40px;color: var(--bs-gray-300);" title="Emoji" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
							<path d="M9 10l.01 0"></path>
							<path d="M15 10l.01 0"></path>
							<path d="M9.5 15a3.5 3.5 0 0 0 5 0"></path>
						</svg>
					</button>
					<input autofocus="" class="d-xl-flex align-items-xl-center overflow-auto chatInput" id="chatInput" placeholder="{% translate 'Send a message' %}" style="background: rgba(255,255,255,0);border-radius: 14px;color: var(--bs-body-bg);height: 80%;width: 95%;font-size: 22px;margin-top: 0px;padding-bottom: 1px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;border: 2px none var(--bs-gray-500) ;" type="text"/>
				</div>
				<div class="d-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 15%;margin-right: 0px;height: 100%;">
					<button class="btn btn-primary d-flex d-xl-flex flex-row justify-content-center align-items-center align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="background: rgba(13,110,253,0);height: 80%;border-radius: 50%;box-shadow: 0px 0px 1px 0px;border: 1px solid var(--bs-gray-500);" type="button">
						<svg class="icon icon-tabler icon-tabler-send" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="width: 100%;height: 75%;color: var(--bs-gray-300);margin-top: 0px;margin-right: 0px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
							<path d="M10 14l11 -11"></path>
							<path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2 d-sm-flex flex-column" style="height: 100%;padding-left: 12px;margin-bottom: 10px;">
			{% if current_friend %}
			<div class="d-flex d-md-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center align-items-xxl-center" id="currentConv" style="width: 100%;height: 70%;margin-top: 0px;border-radius: 19px;background: var(--bs-body-color);box-shadow: 0px 0px 6px 2px #2b7050;border: 2px none #2b7050;">
				<div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-lg-center align-items-lg-center align-items-xl-center justify-content-xxl-center" id="currentFriend" style="height: 100%;width: 100%;border-radius: 0px;margin-left: 0px;margin-right: 0px;padding-left: 9px;padding-right: 9px;margin-top: 0px;margin-bottom: 0px;">
					<div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="border-radius: 0px;padding-top: 0px;height: 100px;width: 100px;position: sticky;margin-top: 10px;margin-bottom: 10px;">
						<img height="87" src="{{ current_friend.avatar_url }}" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;" width="88"/>
					</div>
					<h1 class="fs-5" style="font-weight: bold;color: var(--bs-body-bg);">
						{{ current_friend.alias }}
					</h1>
				</div>
				<div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-start align-items-xxl-center" style="width: 100%;height: 100%;z-index: 999;margin-left: 0px;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;">
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;">
						<a class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" href="/profiles/{{ current_friend.id }}/" style="background: rgba(33,37,41,0);border-radius: 20px;z-index: 999;margin-right: 0px;width: 90%;border-style: none;border-color: var(--bs-btn-disabled-color);box-shadow: 0px 0px 4px 1px var(--bs-btn-disabled-color);">
							<svg class="icon icon-tabler icon-tabler-user-circle" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;padding-top: 0px;color: var(--bs-body-bg);margin-left: 0px;margin-right: 38px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
								<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
								<path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
								<path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
							</svg>
							{% translate 'See Profile' %}
						</a>
					</div>
					{% if current_friend.is_blocked %}
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;">
						<a class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" href="/api/profiles/{{ current_friend.id }}/blocks/" style="background: rgba(33,37,41,0);border-radius: 20px;z-index: 999;margin-right: 0px;width: 90%;box-shadow: 0px 0px 4px 1px var(--bs-primary);border-style: none;border-color: rgb(255,152,0);">
							<svg class="icon icon-tabler icon-tabler-user-off" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 25px;padding-top: 0px;margin-left: 0px;color: var(--bs-primary);margin-right: 10px;">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M8.18 8.189a4.01 4.01 0 0 0 2.616 2.627m3.507 -.545a4 4 0 1 0 -5.59 -5.552"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h4c.412 0 .81 .062 1.183 .178m2.633 2.618c.12 .38 .184 .785 .184 1.204v2"></path>
								<path d="M3 3l18 18"></path>
							</svg>
							{% translate 'Unblock Friend' %}
						</a>
					</div>
					{% else %}
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;">
						<a class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" href="/api/profiles/{{ current_friend.id }}/blocks/" style="background: rgba(33,37,41,0);border-radius: 20px;z-index: 999;margin-right: 0px;width: 90%;box-shadow: 0px 0px 4px 1px rgb(255,152,0);border-style: none;border-color: rgb(255,152,0);">
							<svg class="icon icon-tabler icon-tabler-user-cancel" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;padding-top: 0px;margin-left: 0px;color: var(--bs-orange);margin-right: 28px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
								<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
								<path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
								<path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
								<path d="M17 21l4 -4"></path>
							</svg>
							{% translate 'Block Friend' %}
						</a>
					</div>
					{% endif %}
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;">
						<a class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" href="/api/profiles/{{ current_friend.id }}/friends/" style="background: rgba(13,110,253,0);border-radius: 20px;z-index: 999;margin-left: 0px;margin-right: 0px;width: 90%;border: 1px none rgb(255,0,0);box-shadow: 0px 0px 4px 1px rgb(255,0,0);">
							<svg class="icon icon-tabler icon-tabler-trash-x" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;margin-left: 3px;color: var(--bs-form-invalid-color);margin-right: 13px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
								<path d="M4 7h16"></path>
								<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
								<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
								<path d="M10 12l4 4m0 -4l-4 4"></path>
							</svg>
							{% translate 'Remove Friend' %}
						</a>
					</div>
					<div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;">
						{% if profile.status == 'Playing' %}
						<a class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="background: rgba(13,110,253,0);border-radius: 20px;z-index: 999;margin-left: 0px;width: 90%;border: 1px none var(--bs-info-border-subtle);box-shadow: 0px 0px 4px 1px var(--bs-info-border-subtle);">
							<svg class="icon icon-tabler icon-tabler-device-gamepad" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;color: var(--bs-info-border-subtle);margin-right: 30px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
								<path d="M2 6m0 2a2 2 0 0 1 2 -2h16a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-16a2 2 0 0 1 -2 -2z"></path>
								<path d="M6 12h4m-2 -2v4"></path>
								<path d="M15 11l0 .01"></path>
								<path d="M18 13l0 .01"></path>
							</svg>
							{% translate 'Invite Friend' %}
						</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{% endblock %}
</div>