{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Social" %}{% endblock %}
{% block content %}
{% include "sidebar.html" %}
<div class="container">
    <div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center">
        <div class="col-md-12 d-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="padding-top: 1px;">
            <div class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center">
                <h1 class="d-xl-flex justify-content-xl-center align-items-xl-center align-items-xxl-center" style="color: var(--bs-body-bg);border-radius: 10px;margin-bottom: 50px;border-style: none;text-shadow: 0px 0px 4px;">
                    {% translate 'Social' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-message-chatbot">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
                        <path d="M9.5 9h.01"></path>
                        <path d="M14.5 9h.01"></path>
                        <path d="M9.5 13a3.5 3.5 0 0 0 5 0"></path>
                    </svg></h1>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height:100%;">
    <div class="row d-sm-flex justify-content-sm-center" style="height:700px;">
        <div class="col-sm-12 col-md-5 col-lg-4 col-xl-3 col-xxl-3 d-sm-flex flex-column" style="height: 100%;margin-top: 0px;margin-bottom: 10px;padding-left: 12px;padding-right: 12px;">
            <div class="d-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="border-radius: 0px;color: var(--bs-body-bg);background: #2b7050;border-top-left-radius: 19px;border-top-right-radius: 19px;height: 45px;box-shadow: 0px 0px 6px 2px #2b7050;">
                <h1 class="text-truncate fs-4 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="margin-bottom: 2px;text-shadow: 2px 2px var(--bs-emphasis-color);width: 180px;">
                    {% translate 'Friends' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-users" style="font-size: 25px;margin-left: 5px;margin-right: 5px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                    </svg>
                </h1>
            </div>
            <div class="d-xl-flex flex-column flex overflow-auto" id="friend-list" style="width: 100%;height: 100%;margin-top: 0px;background: var(--bs-body-color);border-bottom-right-radius: 19px;border-bottom-left-radius: 19px;margin-bottom: 0px;box-shadow: 0px 0px 6px 2px #2b7050;">
                {% for friend in friends %}
                <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 45px;padding-top: 5px;padding-bottom: 5px;border-radius: 20px;border: 1px none var(--bs-gray-400);background: var(--bs-emphasis-color);border-top-left-radius: 0px;border-top-right-radius: 0px;padding-left: 0px;padding-right: 0px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;margin-bottom: 0px;"><input type="text" style="width: 80%;height: 100%;background: var(--bs-emphasis-color);border-style: none;color: var(--bs-body-bg);margin-left: 0px;" placeholder="{% translate 'Search for a friend' %}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-search" style="font-size: 30px;color: var(--bs-gray-400);margin-left: 5px;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                        <path d="M21 21l-6 -6"></path>
                    </svg>
                </div>
                <a class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" href="#" style="width: 100%;height: 85px;border-style: none;">
                    <div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-start align-items-lg-center align-items-xl-center justify-content-xxl-start" id="frienditemOnline" style="height: 85px;width: 100%;border-radius: 0px;background: #102c1f;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
                        <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 40%;margin-top: 0px;position: sticky;">
                            <div style="width: 60px;height: 60px;"><img width="60" height="60" src="{{ friend.avatar.url }}" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;box-shadow: 0px 0px 6px 1px rgb(51,255,0);border: 2px solid rgb(51,255,0) ;" href="#">
                            </div>
                            <div id="notification" style="width:10px;height:10px;background:#ff0000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;">
                            </div>
                        </div>
                        <div class="text-truncate d-flex d-sm-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-start" style="width: 100%;height: 100%;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;">
                            <h1 class="text-truncate fs-5" id="friend-id" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;width: 100%;font-weight: bold;">{{friend.alias}}</h1>
                            <h1 class="text-truncate fs-6" id="friend-id-2" style="color: var(--bs-gray-500);margin-bottom: 0px;margin-top: 0px;width: 100%;">#FriendMsg</h1>
                        </div>
                    </div>
                </a>
                <a class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" href="#" style="width: 100%;height: 85px;border-style: none;">
                    <div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-start align-items-lg-center align-items-xl-center justify-content-xxl-start" id="friendItemPlaying" style="height: 85px;width: 100%;border-radius: 0px;background: var(--bs-body-color);margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
                        <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 40%;margin-top: 0px;position: sticky;">
                            <div style="width: 60px;height: 60px;"><img width="60" height="60" src="assets/img/icon5.webp" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;border: 2px solid var(--bs-orange);box-shadow: 0px 0px 6px 2px var(--bs-orange);" href="#"></div>
                            <div id="notification-2" style="width:10px;height:10px;background:#ff0000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;"></div>
                        </div>
                        <div class="text-truncate d-flex d-sm-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-start" style="width: 100%;height: 100%;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;">
                            <h1 class="text-truncate fs-5" id="friendPlayingId" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;width: 100%;font-weight: bold;">{{friend.alias}}</h1>
                            <h1 class="text-truncate fs-6" id="friendPlayingMsg" style="color: var(--bs-gray-500);margin-bottom: 0px;margin-top: 0px;width: 100%;">#FriendMsg</h1>
                        </div>
                    </div>
                </a>
                <a class="d-xxl-flex justify-content-xxl-start align-items-xxl-center" href="#" style="width: 100%;height: 85px;border-style: none;">
                    <div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-start align-items-lg-center align-items-xl-center justify-content-xxl-start" id="friendItemOffline" style="height: 85px;width: 100%;border-radius: 0px;background: var(--bs-body-color);margin-left: 0px;margin-right: 0px;opacity: 0.50;padding-left: 10px;padding-right: 10px;">
                        <div class="d-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center justify-content-xl-center align-items-xl-center justify-content-xxl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 40%;margin-top: 0px;position: sticky;">
                            <div style="width: 60px;height: 60px;"><img width="60" height="60" src="assets/img/Icontry.webp" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;border: 2px none rgb(51,255,0);opacity: 1;" href="#"></div>
                            <div id="notification-1" style="width:10px;height:10px;background:#ff0000;border-radius:8px;margin:0px;padding-right:0px;margin-bottom:45px;margin-right:0px;margin-left:0px;"></div>
                        </div>
                        <div class="text-truncate d-flex d-sm-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-xl-center align-items-xl-start" style="width: 100%;height: 100%;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;">
                            <h1 class="text-truncate fs-5" id="friendOfflineId" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;width: 100%;font-weight: bold;">{{friend.alias}}</h1>
                            <h1 class="text-truncate fs-6" id="friendOfflineMsg" style="color: var(--bs-gray-500);margin-bottom: 0px;margin-top: 0px;width: 100%;">#FriendMsg</h1>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-6 col-xl-7 col-xxl-7 d-flex flex-column" style="height: 100%;margin-left: 0px;padding-left: 0px;padding-right: 0px;margin-bottom: 10px;">
            <div class="d-flex d-md-flex d-xl-flex justify-content-start align-items-center align-items-md-center justify-content-lg-start justify-content-xl-start align-items-xl-center justify-content-xxl-start" style="border-radius: 20px;background: #2b7050;border-top-right-radius: 19px;border-bottom-right-radius: 0px;border-top-left-radius: 19px;border-bottom-left-radius: 0px;height: 90px;border-width: 0px;border-bottom: 2px solid var(--bs-body-color);box-shadow: 0px 0px 6px 2px #2b7050;">
                <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 0px;width: 75px;height: 75px;padding-left: 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 15px;margin-right: 15px;"><img width="93" height="135" src="assets/img/icon8.webp" style="border-radius: 50%;width: 100%;height: 100%;border-style: none;border-color: rgb(51,255,0);"></div>
                <div>
                    <h1 class="text-truncate fs-3 d-flex d-xl-flex justify-content-start justify-content-xl-start align-items-xl-center justify-content-xxl-start" id="current-discussion" style="color: var(--bs-body-bg);text-shadow: 2px 2px var(--bs-emphasis-color);font-weight: bold;width: 310px;">{{friend.alias}}</h1>
                    <h1 class="text-truncate fs-5 d-flex d-xl-flex justify-content-start align-items-xl-center" id="current-discussion-1" style="color: var(--bs-body-bg);text-shadow: 2px 2px var(--bs-emphasis-color);width: 100%;">{{friend.status}}
                        <span class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" id="status" style="color:rgb(51,255,0);margin-top:0px;margin-bottom:0px;">{% translate 'Online' %}</span>
                        <span id="status-1" style="color: var(--bs-dark-border-subtle);margin-top: 0px;margin-bottom: 0px;">{% translate 'Offline' %}</span>
                        <span class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" id="status-2" style="color: var(--bs-orange);margin-top: 0px;margin-bottom: 0px;">{% translate 'Playing' %}</span>
                    </h1>
                </div>
            </div>
            <div class="d-flex d-xl-flex flex-column-reverse overflow-auto" style="background: var(--bs-body-color);padding-top: 0px;margin-left: 0px;margin-top: 0px;height: 585px;width: 100%;box-shadow: 0px 0px 6px 2px #2b7050;">
                <section id="message-list" class="overflow-auto" style="height: 100%;width: 100%;background: linear-gradient(-38deg, rgba(255,255,255,0) 0%, var(--bs-success-text-emphasis) 52%, rgba(255,255,255,0) 100%);">
                    {% for message in messages %}
                    {% if message.sender != profile %}
                    <div class="d-flex d-xxl-flex align-items-end justify-content-xxl-start align-items-xxl-end chatEl" id="templateFriendMsg" style="height: auto;width: 100%;margin-top: 0px;margin-bottom: 0px;">
                        <div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 0px;width: 50px;height: 50px;padding-left: 0px;margin-top: 0px;margin-bottom: 0px;margin-left: 15px;margin-right: 10px;">
                            <img width="93" height="135" src="{{ friends.0.avatar.url }}" style="width: 100%;height: 100%;border-radius: 50%;border-style: none;border-color: var(--bs-body-bg);">
                        </div>
                        <div class="text-break flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-radius: 20px;border-bottom-right-radius: 19px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-left-radius: 0px;font-size: 19px;display: inline-block;max-width: 50%;background: var(--bs-gray-700);margin-bottom: 35px;margin-top: 5px;">
                            <div class="d-flex d-xxl-flex justify-content-xxl-center align-items-xxl-center message-wrapper" style="margin-left: 0px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;">
                                <p class="wrapbox" style="color: var(--bs-body-bg);width: 100%;margin-bottom: 0px;">
                                    {{ message.content }}
                                </p>
                            </div>
                            <div class="d-flex d-xl-flex d-xxl-flex justify-content-end justify-content-xl-end justify-content-xxl-end" style="width: 100%;margin-right: 0px;margin-left: 0px;padding-left: 10px;padding-right: 10px;">
                                <span style="font-size: 18px;color: rgba(255,255,255,0.5);margin-bottom: 5px;margin-left: 10px;margin-right: 10px;">
                                    {{ message.created_at }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="d-flex d-xxl-flex justify-content-end align-items-center justify-content-xxl-end align-items-xxl-center" id="template-my-msg-1-chatEl" style="height: auto;width: 100%;margin-bottom: 15px;margin-top: 0px;">
                        <div class="text-break flex-column justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="background: #2b7050;border-radius: 20px;border-bottom-right-radius: 0px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-left-radius: 19px;font-size: 19px;display: inline;max-width: 50%;margin-right: 15px;">
                            <div class="d-flex d-xxl-flex justify-content-xxl-center align-items-xxl-center message-wrapper" style="margin-right: 0px;padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;margin-left: 0px;">
                                <p class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end wrapbox" style="color: var(--bs-body-bg);width: 100%;text-shadow: 0px 0px 2px var(--bs-emphasis-color);margin-bottom: 0px;">
                                    {{ message.content }}
                                </p>
                            </div>
                            <div class="d-flex d-xl-flex d-xxl-flex justify-content-end justify-content-xl-end justify-content-xxl-end" style="width: 100%;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 10px;">
                                <span style="font-size: 18px;color: rgba(255,255,255,0.5);margin-bottom: 5px;margin-right: 10px;">
                                    {{ message.created_at }}
                                </span>
                                <span class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="msgRead-1" style="font-size: 18px;color: rgba(255,255,255,0.41);margin-bottom: 5px;margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-checks" style="color: var(--bs-info);margin-right: 0px;font-size: 24px;">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 12l5 5l10 -10"></path>
                                        <path d="M2 12l5 5m5 -5l5 -5"></path>
                                    </svg>
                                </span>
                                <span class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" id="msgSent-1" style="font-size: 18px;color: rgba(255,255,255,0.41);margin-bottom: 5px;margin-right: 20px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-checks" style="font-size: 24px;">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 12l5 5l10 -10"></path>
                                        <path d="M2 12l5 5m5 -5l5 -5"></path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="templateSayHi" style="width: 100%;height: 100%;">
                        <h1 class="text-center d-md-flex d-xxl-flex align-items-md-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-success-border-subtle);">{% translate 'No messages yet, say hi' %}&nbsp;👋&nbsp;</h1>
                    </div>
                    <div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="templateSelectConv" style="width: 100%;height: 100%;">
                        <h1 class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-success-border-subtle);">{% translate 'Select a conversation' %}</h1>
                    </div>
                    {% endif %}
                    {% endfor %}
                </section>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-xxl-start" style="border-radius: 19px;background: #111314;border-top-left-radius: 0px;border-top-right-radius: 0px;height: 70px;border-width: 0px;border-color: var(--bs-body-bg);width: 100%;box-shadow: 0px 0px 6px 2px #2b7050;">
                <div class="d-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;height: 100%;"><button class="btn btn-primary d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center emojiPick" id="emojiPick" type="button" style="background: rgba(13,110,253,0);border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-mood-smile" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" style="font-size: 40px;color: var(--bs-gray-300);" title="Emoji">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 10l.01 0"></path>
                            <path d="M15 10l.01 0"></path>
                            <path d="M9.5 15a3.5 3.5 0 0 0 5 0"></path>
                        </svg></button><input type="text" id="chatInput" class="d-xl-flex align-items-xl-center overflow-auto chatInput" autofocus="" placeholder="{% translate 'Send a message' %}" style="background: rgba(255,255,255,0);border-radius: 14px;color: var(--bs-body-bg);height: 80%;width: 95%;font-size: 22px;margin-top: 0px;padding-bottom: 1px;margin-bottom: 0px;margin-right: 0px;margin-left: 0px;border: 2px none var(--bs-gray-500) ;">
                </div>
                <div class="d-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 15%;margin-right: 0px;height: 100%;"><button class="btn btn-primary d-flex d-xl-flex flex-row justify-content-center align-items-center align-items-sm-center align-items-md-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" type="button" style="background: rgba(13,110,253,0);height: 80%;border-radius: 50%;box-shadow: 0px 0px 1px 0px;border: 1px solid var(--bs-gray-500);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-send" style="width: 100%;height: 75%;color: var(--bs-gray-300);margin-top: 0px;margin-right: 0px;">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 14l11 -11"></path>
                            <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
                        </svg></button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 col-xxl-2 d-sm-flex flex-column" style="height: 100%;padding-left: 12px;margin-bottom: 10px;">
            <div class="d-flex d-md-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-md-center align-items-md-center align-items-xxl-center" id="currentConv" style="width: 100%;height: 70%;margin-top: 0px;border-radius: 19px;background: var(--bs-body-color);box-shadow: 0px 0px 6px 2px #2b7050;border: 2px none #2b7050;">
                <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-lg-center align-items-lg-center align-items-xl-center justify-content-xxl-center" id="currentFriend" style="height: 100%;width: 100%;border-radius: 0px;margin-left: 0px;margin-right: 0px;padding-left: 9px;padding-right: 9px;margin-top: 0px;margin-bottom: 0px;">
                    <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="border-radius: 0px;padding-top: 0px;height: 100px;width: 100px;position: sticky;margin-top: 10px;margin-bottom: 10px;"><img width="88" height="87" src="assets/img/icon8.webp" style="border-radius: 50%;z-index: 999;width: 100%;height: 100%;" href="#">
                    </div>
                    <h1 class="fs-5" style="font-weight: bold;color: var(--bs-body-bg);">{{friend.alias}}</h1>
                </div>
                <div class="d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-start align-items-xxl-center" style="width: 100%;height: 100%;z-index: 999;margin-left: 0px;margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;"><button class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" type="submit" style="background: rgba(33,37,41,0);border-radius: 20px;z-index: 999;margin-right: 0px;width: 90%;border-style: none;border-color: var(--bs-btn-disabled-color);box-shadow: 0px 0px 4px 1px var(--bs-btn-disabled-color);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-user-circle" style="font-size: 25px;padding-top: 0px;color: var(--bs-body-bg);margin-left: 0px;margin-right: 38px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                                <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855"></path>
                            </svg>{% translate 'See Profile' %}</button></div>
                    <div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;"><button class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" type="submit" style="background: rgba(33,37,41,0);border-radius: 20px;z-index: 999;margin-right: 0px;width: 90%;box-shadow: 0px 0px 4px 1px rgb(255,152,0);border-style: none;border-color: rgb(255,152,0);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-user-cancel" style="font-size: 25px;padding-top: 0px;margin-left: 0px;color: var(--bs-orange);margin-right: 28px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
                                <path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                                <path d="M17 21l4 -4"></path>
                            </svg>{% translate 'Block Friend' %}</button>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;"><button class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" type="button" style="background: rgba(13,110,253,0);border-radius: 20px;z-index: 999;margin-left: 0px;margin-right: 0px;width: 90%;border: 1px none rgb(255,0,0);box-shadow: 0px 0px 4px 1px rgb(255,0,0);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash-x" style="font-size: 25px;margin-left: 3px;color: var(--bs-form-invalid-color);margin-right: 13px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 7h16"></path>
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                <path d="M10 12l4 4m0 -4l-4 4"></path>
                            </svg>{% translate 'Remove Friend' %}</button>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="width: 100%;margin-top: 5px;margin-bottom: 5px;height: 100%;"><button class="btn btn-primary d-xxl-flex justify-content-xxl-center align-items-xxl-center" type="button" style="background: rgba(13,110,253,0);border-radius: 20px;z-index: 999;margin-left: 0px;width: 90%;border: 1px none var(--bs-info-border-subtle);box-shadow: 0px 0px 4px 1px var(--bs-info-border-subtle);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-device-gamepad" style="font-size: 25px;color: var(--bs-info-border-subtle);margin-right: 30px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M2 6m0 2a2 2 0 0 1 2 -2h16a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-16a2 2 0 0 1 -2 -2z"></path>
                                <path d="M6 12h4m-2 -2v4"></path>
                                <path d="M15 11l0 .01"></path>
                                <path d="M18 13l0 .01"></path>
                            </svg>{% translate 'Invite Friend' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100">
        </div>
    </div>
{% endblock %}
