{% load i18n %}
{% include "sidebar.html" %}
{% block content %}
<div class="container">
	<div class="row d-xxl-flex justify-content-xxl-center align-items-xxl-center">
		<div class="col-md-12 d-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-md-center align-items-md-center justify-content-xl-center align-items-xl-center" style="padding-top: 1px;">
			<div class="d-flex d-md-flex justify-content-center align-items-center justify-content-md-center align-items-md-center">
				<h1 class="d-xl-flex justify-content-xl-center align-items-xxl-center" style="color: var(--bs-body-bg);border-radius: 10px;border-style: solid;margin-bottom: 50px;">{% translate "Social" %}&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-message-chatbot">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z"></path>
						<path d="M9.5 9h.01"></path>
						<path d="M14.5 9h.01"></path>
						<path d="M9.5 13a3.5 3.5 0 0 0 5 0"></path>
					</svg></h1>
			</div>
		</div>
	</div>
</div>
<div class="container" style="height: 100%;">
	<div class="row d-sm-flex justify-content-sm-center" style="height: 700px;">
		<div class="col-sm-9 col-md-8 col-lg-6 col-xl-4 d-sm-flex" style="height: 100%;margin-top: 0px;">
			<div class="d-flex d-xl-flex flex-column justify-content-xl-start" style="width: 100%;height: 100%;background: #343a40;border-radius: 15px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-right-radius: 19px;border-bottom-left-radius: 19px;">
				<div class="d-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center" style="width: 100%;height: 8%;border-radius: 0px;color: var(--bs-body-bg);background: #289726;border-top-left-radius: 19px;border-top-right-radius: 19px;margin-bottom: 0px;">
					<h1 class="fs-3" style="margin-bottom: 2px;text-shadow: 2px 2px var(--bs-emphasis-color);">{% translate "Friends" %}</h1><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-users" style="font-size: 30px;margin-left: 10px;">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
						<path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
						<path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
						<path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
					</svg>
				</div>
				<div class="d-xl-flex justify-content-xl-center overflow-auto" id="freind-list" style="width: 100%;height: 100%;margin-top: 0px;">
					<div class="d-flex d-xl-flex flex-row justify-content-start align-items-center justify-content-lg-center align-items-lg-center align-items-xl-center" id="friend-item" style="height: 95px;width: 100%;border-radius: 2px;background: rgba(33,37,41,0.76);">
						<div class="d-xl-flex justify-content-xl-start align-items-xl-center" style="border-radius: 0px;padding-top: 0px;margin-bottom: 0px;height: 60px;width: 20%;margin-top: 0px;position: sticky;"><img width="60" height="60" src="static/img/question_mark.png" style="border-radius: 35px;">
							<div id="notification" style="width: 10px;height: 10px;background: #ff0000;border-radius: 8px;margin: 0px;padding-right: 0px;margin-bottom: 45px;margin-right: 0px;margin-left: 0px;"></div>
						</div>
						<div style="width: 40%;height: 60%;margin-bottom: 0px;"><span id="status" style="color: rgb(51,255,0);margin-top: 0px;margin-bottom: 0px;">Online</span>
							<h1 class="fs-5 text-truncate" id="friend-id" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-top: 0px;">{% translate "#Friendfrrrrrrrrrrrrrrrrrrrr" %}</h1>
						</div>
						<div class="d-flex d-xl-flex justify-content-end align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-end" style="width: 40%;height: 70%;margin-left: 10px;"><button class="btn btn-primary" data-bs-toggle="tooltip" data-bss-tooltip="" type="submit" style="background: rgba(33,37,41,0);border-radius: 20px;border-color: rgb(195,117,0);" title="Block Player"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-user-cancel" style="margin-right: 0px;font-size: 30px;color: rgb(195,117,0);">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
									<path d="M6 21v-2a4 4 0 0 1 4 -4h3.5"></path>
									<path d="M19 19m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
									<path d="M17 21l4 -4"></path>
								</svg></button><button class="btn btn-primary" data-bs-toggle="tooltip" data-bss-tooltip="" type="button" style="background: rgba(13,110,253,0);border-radius: 20px;border: 1px solid rgb(255,0,0) ;" title="Remove Player"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-trash" style="font-size: 30px;color: rgb(255,0,0);">
									<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
									<path d="M4 7l16 0"></path>
									<path d="M10 11l0 6"></path>
									<path d="M14 11l0 6"></path>
									<path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
									<path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
								</svg></button></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-12 col-xl-8 d-flex" style="height: 100%;margin-left: 0px;padding-left: 40px;padding-right: 40px;">
			<div class="d-flex d-xl-flex flex-column justify-content-xl-center align-items-xl-center" style="width: 100%;height: 100%;background: var(--bs-body-color);border-radius: 19px;margin-bottom: 0px;">
				<div class="d-flex d-md-flex d-xl-flex justify-content-center align-items-center align-items-md-center justify-content-lg-center justify-content-xl-center align-items-xl-center" style="width: 100%;height: 8%;border-radius: 20px;background: #289726;border-top-right-radius: 19px;border-bottom-right-radius: 0px;border-top-left-radius: 19px;border-bottom-left-radius: 0px;margin-top: 0px;border-width: 0px;margin-bottom: 0px;">
					<h1 class="fs-3 d-xl-flex justify-content-xl-center align-items-xl-center text-truncate" id="current-discussion" style="color: var(--bs-body-bg);text-shadow: 2px 2px var(--bs-emphasis-color);">#Friendfrrrrrrrrrrrrrrrrrrrr</h1>
				</div>
				<div class="d-flex d-xl-flex flex-column overflow-auto" style="width: 100%;height: 80%;background: #343a40;padding-top: 0px;margin-top: 0px;margin-left: 0px;">
					<section id="message-list" class="overflow-auto" style="margin: 0px;margin-left: 0px;margin-right: 0px;height: 100%;width: 100%;">
						<div class="d-flex d-xxl-flex align-items-center align-items-xxl-center" id="template-friend-msg" style="height: auto;width: 100%;padding-bottom: 0px;margin-bottom: 10px;">
							<div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 0px;width: 60px;height: 60px;padding-left: 0px;margin-left: 10px;"><img width="93" height="135" src="static/img/question_mark.png" style="border-radius: 41px;width: 100%;height: 100%;"></div>
							<div class="text-break" style="height: 100%;background: #4c575f;width: 65%;border-radius: 20px;margin-left: 20px;margin-top: 0px;padding-top: 10px;box-shadow: -2px 2px rgb(21,23,25);text-shadow: 2px 2px var(--bs-emphasis-color);border-bottom-left-radius: 19px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-right-radius: 19px;">
								<div class="message-wrapper" style="height: 100%;width: 90%;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
									<p class="wrapbox" style="margin-left: 0px;color: var(--bs-body-bg);width: 100%;">dkezijedooiezjdezdddddddddddddddddddddddddddddddddddddddddddddd<br>ddddddddddddddddddddddddddddddddddddddddddddddddddlololl</p>
								</div>
							</div>
						</div>
						<div class="d-flex d-xxl-flex justify-content-end align-items-center justify-content-xxl-end align-items-xxl-center" id="template-my-msg" style="height: auto;width: 100%;margin-top: 0px;margin-bottom: 10px;">
							<div class="text-break" style="height: 100%;background: #3e7e5b;width: 65%;border-radius: 20px;margin-bottom: 0px;margin-top: 0px;padding-top: 10px;box-shadow: 2px 2px rgb(15,65,30);border-bottom-right-radius: 19px;border-top-left-radius: 19px;border-top-right-radius: 19px;border-bottom-left-radius: 19px;">
								<div class="message-wrapper" style="height: 100%;width: 90%;margin-left: 0px;margin-right: 0px;padding-left: 10px;padding-right: 10px;">
									<p class="wrapbox" style="margin-left: 0px;color: var(--bs-body-bg);width: 100%;text-shadow: 2px 2px var(--bs-emphasis-color);">dkezijedooiezjdezdddddddddddddddddddddddddddddddddddddddddddddd<br><br></p>
								</div>
							</div>
							<div class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="border-radius: 0px;width: 60px;height: 60px;padding-left: 0px;margin-left: 15px;margin-right: 10px;"><img width="93" height="135" src="static/img/question_mark.png" style="border-radius: 41px;width: 100%;height: 100%;"></div>
						</div>
					</section>
				</div>
				<div class="d-flex flex-row align-items-center justify-content-xxl-start" style="height: 10%;width: 100%;border-radius: 19px;padding-bottom: 2px;margin-bottom: 0px;background: #111314;border-top-left-radius: 0px;border-top-right-radius: 0px;padding-left: 20px;padding-right: 20px;">
					<div style="width: 90%;"><input class="d-xl-flex align-items-xl-center overflow-auto" type="text" id="chatInput" style="background: rgba(255,255,255,0);border-radius: 14px;color: var(--bs-body-bg);margin-top: 5px;height: 100%;width: 100%;border: 0px solid var(--bs-body-bg);margin-right: 0px;margin-left: 0px;" placeholder="{% translate "  Send a message" %}" autofocus=""></div>
					<div class="d-flex justify-content-center justify-content-xxl-end" style="width: 10%;margin-right: 0px;"><button class="btn btn-primary d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center" type="button" style="background: rgba(13,110,253,0);border-radius: 40px;border: 2px solid var(--bs-btn-disabled-color);width: 55px;height: 55px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-send" style="font-size: 27px;">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M10 14l11 -11"></path>
								<path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
							</svg></button></div>
				</div>
			</div>
		</div>
		<div class="w-100"></div>
	</div>
</div>
{% endblock %}