{% load static %}
{% load i18n %}
{% for message in messages %}
{% include "friends/social_message.html" %}
{% endfor %}
{% if messages.count == 0 %}
<div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="templateSayHi" style="width: 100%;height: 100%;">
	<h1 class="text-center d-md-flex d-xxl-flex align-items-md-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-success-border-subtle);">
		{% translate 'No messages yet, say hi' %} 👋
	</h1>
</div>
{% endif %}
{% if not current_friend %}
<div class="d-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" id="templateSelectConv" style="width: 100%;height: 100%;">
	<h1 class="d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-success-border-subtle);">
		{% translate 'Select a conversation' %}
	</h1>
</div>
{% endif %}