body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #161616;
}

.qd_connect {
  background-color: #00babc;
}

.fit-cover {
  object-fit: cover;
}

.lottie-bg {
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.icon-tabler-home:hover, .icon-tabler-home.active {
  color: #5abfea;
}

.icon-tabler-user:hover, .icon-tabler-user.active {
  color: #ff8a00;
}

.icon-tabler-list-numbers:hover, .icon-tabler-list-numbers.active {
  color: #edd32c;
}

.icon-tabler-message-chatbot:hover, .icon-tabler-message-chatbot.active {
  color: #30c12e;
}

.icon-tabler-settings:hover, .icon-tabler-settings.active {
  color: #9d71ed;
}

#navtoggle {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.form-label {
  cursor: pointer;
}

#navtoggle:checked ~ .navbar-container {
  transform: translateX(-105px);
}

#navtoggle:checked ~ .navbar-container .icon-tabler-arrow-badge-left {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.navbar-container {
  transform: translateX(0px);
}

.icon-tabler-arrow-badge-left {
  transition: transform 0.5s ease;
}

#inputsearch:focus {
  outline: none;
}

#gamesearch:focus {
  outline: none;
}

.roomel {
  flex: 1 1 20%;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .gameroom {
    flex-direction: column;
  }
}


p, h1, button {
  font-size: calc(1vw + 1vh);
}

.room-name, .room-creator, .room-type, .nb-players {
  color: #8100be;
}

#chatInput:focus{
  outline: none;
}
