{% load static %}
{% load i18n %}
<div class="d-flex flex-shrink-1 justify-content-center align-items-center align-content-around flex-nowrap justify-content-sm-center align-items-sm-center justify-content-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 100%;margin-top: 0px;margin-bottom: 5px;">
	<div class="d-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center align-items-xxl-center" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="backdrop-filter: opacity(1);opacity: 1;height: 100%;width: 35%;margin-left: 0px;margin-right: 0px;padding-top: 0px;padding-bottom: 0px;" title="{{ round.player1.alias }}">
		<div class="text-truncate d-flex d-lg-flex d-xxl-flex flex-column justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 80%;height: 100%;padding-top: 10px;padding-bottom: 10px;">
			{% if round %}
			<img style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid varvar(--bs-gray-700);" src="{{ round.player1.avatar_url }}" width="65" height="65" />
			<h1 id="playerOneAlias" class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">
				{{ round.player1.alias }}
			</h1>
			{% else %}
			<img style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid varvar(--bs-gray-700);" src="{% static '/img/avatar1.webp' %}" width="65" height="65" />
			<h1 data-msg="{% translate 'Player_1 Wins! Press Enter to Retry' %}" id="playerOneAlias" class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">
				{% translate "Player_1" %}
			</h1>
			{% endif %}
		</div>
		<div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 20%;height: 100%;">
			<h1 id="playerOneScore" class="text-end" style="color: var(--bs-body-bg);font-weight: bold;">
				{% if round %}
				{{ round.score1 }}
				{% else %}
				0
				{% endif %}
			</h1>
		</div>
	</div>
	<div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 20%;height: 100%;">
		<svg class="icon icon-tabler icon-tabler-swords text-danger" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;">
			<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
			<path d="M21 3v5l-11 9l-4 4l-3 -3l4 -4l9 -11z"></path>
			<path d="M5 13l6 6"></path>
			<path d="M14.32 17.32l3.68 3.68l3 -3l-3.365 -3.365"></path>
			<path d="M10 5.5l-2 -2.5h-5v5l3 2.5"></path>
		</svg>
	</div>
	<div class="d-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center align-items-xxl-center" data-bs-toggle="tooltip" data-bss-tooltip data-bs-placement="bottom" style="backdrop-filter: opacity(1);opacity: 1;height: 100%;width: 35%;margin-left: 0px;margin-right: 0px;padding-top: 10px;padding-bottom: 10px;" title="{{ round.player2.alias }}">
		<div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 20%;height: 100%;">
			<h1 id="playerTwoScore" class="text-end" style="color: var(--bs-body-bg);font-weight: bold;">
				{% if round %}
				{{ round.score2 }}
				{% else %}
				0
				{% endif %}
			</h1>
		</div>
		<div class="text-truncate d-flex d-lg-flex d-xxl-flex flex-column justify-content-center align-items-center align-items-sm-center align-items-md-center justify-content-lg-center align-items-lg-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="width: 80%;height: 100%;padding-top: 10px;padding-bottom: 10px;">
			{% if round %}
			<img style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid vavar(--bs-gray-700);" src="{{ round.player2.avatar_url }}" width="65" height="65" />
			<h1 id="playerTwoAlias" class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">
				{{ round.player2.alias }}
			</h1>
			{% else %}
			<img id="playerTwoAvatar" class="d-none d-xxl-none" style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid vavar(--bs-gray-700);" src="{% static 'img/avatar1.webp' %}" width="65" height="65" />
			<h1 data-msg="{% translate 'Player_2 Wins! Press Enter to Retry' %}" id="playerTwoAlias" class="text-truncate fs-4 text-center d-none d-xxl-none" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">
				{% translate "Player_2" %}
			</h1>
			<img id="botAvatar" style="border-radius: 50%;width: 80px;height: 80px;border: 3px solid vavar(--bs-gray-700);" src="{% static 'img/bot.webp' %}" width="65" height="65" />
			<h1 data-msg="{% translate 'A.I Wins! Press Enter to Retry' %}" id="botAlias" class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;color: var(--bs-body-bg);">
				{% translate "A.I" %}
			</h1>
			{% endif %}
		</div>
	</div>
</div>
