{% load static %}
{% load i18n %}
<h4 class="d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xl-center" style="margin-top: 0px;width: 80%;padding-bottom: 0px;margin-bottom: 0px;">
    {% translate 'Get Ready !' %}
</h4>
<div id="playerImagesDiv" class="d-flex d-xxl-flex flex-row justify-content-center align-items-center align-items-lg-center justify-content-xl-center justify-content-xxl-end" style="width: 100%;height: auto;border-radius: 20px;border-top-left-radius: 20px;border-top-right-radius: 20px;position: relative;z-index: 1;padding-left: 45px;padding-right: 45px;" title="Room Owner">
    <div class="text-nowrap text-truncate d-flex d-lg-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center versusCard" style="width: 100%;height: 100%;text-overflow: ellipsis;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;position: relative;padding-left: 0px;padding-right: 0px;padding-top: 5px;padding-bottom: 5px;">
        <div class="d-flex justify-content-center align-items-center" style="width: 80px;height: 80px;border-style: solid;border-radius: 50%;">
            {% if round %}
            <img src="{{ round.player1.get_avatar_url }}" class="player-ready" style="width: 90%;height: 90%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;border-radius: 50%;">
            {% else %}
            <img class="player-ready d-none" style="width: 90%;height: 90%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px;">
            {% endif %}
        </div>
        <h1 class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;border-radius: 50%;">
            {{ round.player1.alias }}
        </h1>
    </div>
    <div class="d-flex d-lg-flex d-xxl-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center" style="width: 30%;height: 100%;margin-bottom: 0px;">
        <h1 class="text-center" style="font-weight: bold;">
            VS
        </h1>
    </div>
    <div class="text-nowrap text-truncate d-flex d-lg-flex d-xxl-flex flex-column justify-content-center align-items-center justify-content-lg-center align-items-lg-center justify-content-xxl-center versusCard" style="width: 100%;height: 100%;text-overflow: ellipsis;margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;position: relative;padding-left: 0px;padding-right: 0px;padding-top: 5px;padding-bottom: 5px;">
        <div class="d-flex justify-content-center align-items-center" style="width: 80px;height: 80px;border-style: solid;border-radius: 50%;">
            {% if round %}
            <img src="{{ round.player2.get_avatar_url }}" class="player-ready" style="width: 90%;height: 90%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; border-radius: 50%;">
            {% else %}
            <img class="player-ready d-none" style="width: 90%;height: 90%;padding-top: 0px;padding-bottom: 0px;padding-left: 0px;padding-right: 0px; border-radius: 50%;">
            {% endif %}
        </div>
        <h1 class="text-truncate fs-4 text-center" style="width: 100%;text-shadow: 3px 3px 3px var(--bs-emphasis-color);padding-bottom: 0px;">
            {{ round.player2.alias }}
        </h1>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center" style="width: 100%;">
    {% if game.host == profile and not game.started_at %}
    <button id="startGameBtn" class="btn btn-primary d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="color: rgb(255,255,255);" type="button">
        {% translate 'Start' %}
        <svg class="icon icon-tabler icon-tabler-device-gamepad-2" fill="none" height="1em" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" style="font-size: 25px;margin-left: 5px;" viewbox="0 0 24 24" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none" stroke="none"></path>
            <path d="M12 5h3.5a5 5 0 0 1 0 10h-5.5l-4.015 4.227a2.3 2.3 0 0 1 -3.923 -2.035l1.634 -8.173a5 5 0 0 1 4.904 -4.019h3.4z"></path>
            <path d="M14 15l4.07 4.284a2.3 2.3 0 0 0 3.925 -2.023l-1.6 -8.232"></path>
            <path d="M8 9v2"></path>
            <path d="M7 10h2"></path>
            <path d="M14 10h2"></path>
        </svg>
    </button>
    {% endif %}
</div>
<h4 class="text-nowrap text-center d-flex d-sm-flex d-md-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-xl-center" style="color: var(--bs-body-bg);font-weight: bold;border-radius: 10px;padding-left: 10px;padding-right: 10px;margin-top: 30px;margin-bottom: 30px;">
    <span style="font-weight: normal !important;">
        {% translate 'Game will start in' %}
    </span>&nbsp;
    <span id="countdownSpan" class="text-primary">
        0 {% translate 'seconds' %}
    </span>
</h4>