{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% translate "Pong" %}{% endblock %}
{% block content %}
{% include "../sidebar.html" %}
<div class="spacer" style="padding-top: 1em;">
	{% include "games/game_score.html" %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xxl-12 d-flex d-xxl-flex flex-row justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-style: none;padding-left: 60px;padding-right: 60px;padding-bottom: 2em;">
            <div class="d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="height: 100%;">
                <div class="form-check d-flex justify-content-center align-items-center" style="margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;padding-left: 24px;padding-right: 24px;text-shadow: 0px 0px;box-shadow: 0px 0px 6px 2px var(--bs-body-bg);border-radius: 19px;">
                    <input id="againstPlayerBtn" class="form-check-input" type="checkbox" style="width: 20px;height: 20px;padding-left: 0px;margin-right: 15px;margin-left: 0px;" />
                    <label class="form-check-label" for="againstPlayerBtn" style="color: var(--bs-body-bg);font-size: 20px;font-weight: bold;">
                        {% translate 'Play against a friend' %}
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="width: 100%;">
        <div id="pongDiv" class="col-md-12 col-lg-12 d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="border-style: none;padding-top: 0px;padding-bottom: 0px;">
            <canvas id="pongCanvas" width="1000" height="600" style="background: url({% static '/img/bg_default.webp' %}) center / cover;border: 2px solid #fff;"></canvas>
        </div>
    </div>
</div>
<div class="container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center">
    <div class="row d-xxl-flex">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-end align-items-lg-center justify-content-xl-end justify-content-xxl-center align-items-xxl-center">
            <h1 style="color: var(--bs-body-bg);"></h1>
            <h4 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: #37afd4;width: 100%;">Player_1</h4>
            <h4 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: #ed402f;width: 100%;">Player_2</h4>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center flex-md-row justify-content-md-center align-items-md-center flex-lg-row justify-content-lg-center align-items-lg-center flex-xl-row justify-content-xl-center align-items-xl-center flex-xxl-row justify-content-xxl-center">
            <h4 class="d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-left: 20px;margin-right: 20px;"><svg class="icon icon-tabler icon-tabler-square-letter-w" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;color: #37afd4;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                    <path d="M9 8l1 8l2 -5l2 5l1 -8"></path>
                </svg>/<svg class="icon icon-tabler icon-tabler-click" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12l3 0"></path>
                    <path d="M12 3l0 3"></path>
                    <path d="M7.8 7.8l-2.2 -2.2"></path>
                    <path d="M16.2 7.8l2.2 -2.2"></path>
                    <path d="M7.8 16.2l-2.2 2.2"></path>
                    <path d="M12 12l9 3l-4 2l-2 4l-3 -9"></path>
                </svg> {%translate 'Up' %}</h4>
            <h4 class="d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-left: 20px;margin-right: 20px;"><svg class="icon icon-tabler icon-tabler-square-letter-s" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;color: #37afd4;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                    <path d="M10 15a1 1 0 0 0 1 1h2a1 1 0 0 0 1 -1v-2a1 1 0 0 0 -1 -1h-2a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1"></path>
                </svg>/<svg class="icon icon-tabler icon-tabler-click" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12l3 0"></path>
                    <path d="M12 3l0 3"></path>
                    <path d="M7.8 7.8l-2.2 -2.2"></path>
                    <path d="M16.2 7.8l2.2 -2.2"></path>
                    <path d="M7.8 16.2l-2.2 2.2"></path>
                    <path d="M12 12l9 3l-4 2l-2 4l-3 -9"></path>
                </svg> {% translate 'Down' %}</h4>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-sm-center align-items-sm-center flex-md-row justify-content-md-center align-items-md-center flex-lg-row justify-content-lg-center align-items-lg-center flex-xl-row justify-content-xl-center align-items-xl-center flex-xxl-row justify-content-xxl-center">
            <h4 class="d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-left: 20px;margin-right: 20px;"><svg class="icon icon-tabler icon-tabler-square-arrow-up" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;color: #ed402f;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16 12l-4 -4l-4 4"></path>
                    <path d="M12 16v-8"></path>
                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                </svg>/<svg class="icon icon-tabler icon-tabler-click" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12l3 0"></path>
                    <path d="M12 3l0 3"></path>
                    <path d="M7.8 7.8l-2.2 -2.2"></path>
                    <path d="M16.2 7.8l2.2 -2.2"></path>
                    <path d="M7.8 16.2l-2.2 2.2"></path>
                    <path d="M12 12l9 3l-4 2l-2 4l-3 -9"></path>
                </svg> {% translate 'Up' %}</h4>
            <h4 class="d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center justify-content-xxl-center align-items-xxl-center" style="color: var(--bs-body-bg);margin-bottom: 0px;margin-left: 20px;margin-right: 20px;"><svg class="icon icon-tabler icon-tabler-square-arrow-down" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;color: #ed402f;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 12l4 4l4 -4"></path>
                    <path d="M12 8v8"></path>
                    <path d="M3 3m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"></path>
                </svg>/<svg class="icon icon-tabler icon-tabler-click" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" style="font-size: 40px;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M3 12l3 0"></path>
                    <path d="M12 3l0 3"></path>
                    <path d="M7.8 7.8l-2.2 -2.2"></path>
                    <path d="M16.2 7.8l2.2 -2.2"></path>
                    <path d="M7.8 16.2l-2.2 2.2"></path>
                    <path d="M12 12l9 3l-4 2l-2 4l-3 -9"></path>
                </svg> {% translate 'Down' %}</h4>
        </div>
    </div>
</div>
{% endblock %}